.btn{
	$accent: (
		'normal-01': (
			'none': (
				'color':			var(--color-base-13),
				'border-color':		transparent,
				'background-color':	transparent,
			),
			'fill': (
				'color':			var(--color-base-01),
				'border-color':		var(--color-base-13),
				'background-color':	var(--color-base-13),
			),
			'line': (
				'color':			var(--color-base-13),
				'border-color':		var(--color-base-13),
				'background-color':	var(--color-base-01),
			),
		),
		'normal-02': (
			'none': (
				'color':			var(--color-base-11),
				'border-color':		transparent,
				'background-color':	transparent,
			),
			'fill': (
				'color':			var(--color-base-01),
				'border-color':		var(--color-base-11),
				'background-color':	var(--color-base-11),
			),
			'line': (
				'color':			var(--color-base-11),
				'border-color':		var(--color-base-11),
				'background-color':	var(--color-base-01),
			),
		),
		'normal-03': (
			'none': (
				'color':			var(--color-base-08),
				'border-color':		transparent,
				'background-color':	transparent,
			),
			'fill': (
				'color':			var(--color-base-01),
				'border-color':		var(--color-base-08),
				'background-color':	var(--color-base-08),
			),
			'line': (
				'color':			var(--color-base-11),
				'border-color':		var(--color-base-08),
				'background-color':	var(--color-base-01),
			),
		),
		'normal-04': (
			'none': (
				'color':			var(--color-base-06),
				'border-color':		transparent,
				'background-color':	transparent,
			),
			'fill': (
				'color':			var(--color-base-01),
				'border-color':		var(--color-base-06),
				'background-color':	var(--color-base-06),
			),
			'line': (
				'color':			var(--color-base-11),
				'border-color':		var(--color-base-06),
				'background-color':	var(--color-base-01),
			),
		),
		'accent-01': (
			'none': (
				'color':			var(--color-secondary-01),
				'border-color':		transparent,
				'background-color':	transparent,
			),
			'fill': (
				'color':			var(--color-base-01),
				'border-color':		var(--color-secondary-01),
				'background-color':	var(--color-secondary-01),
			),
			'line': (
				'color':			var(--color-secondary-01),
				'border-color':		var(--color-secondary-01),
				'background-color':	var(--color-base-01),
			),
		),
		'accent-02': (
			'none': (
				'color':			var(--color-secondary-07),
				'border-color':		transparent,
				'background-color':	transparent,
			),
			'fill': (
				'color':			var(--color-base-01),
				'border-color':		var(--color-secondary-07),
				'background-color':	var(--color-secondary-07),
			),
			'line': (
				'color':			var(--color-secondary-07),
				'border-color':		var(--color-secondary-07),
				'background-color':	var(--color-base-01),
			),
		),
		'accent-03': (
			'none': (
				'color':			var(--color-secondary-09),
				'border-color':		transparent,
				'background-color':	transparent,
			),
			'fill': (
				'color':			var(--color-base-01),
				'border-color':		var(--color-secondary-09),
				'background-color':	var(--color-secondary-09),
			),
			'line': (
				'color':			var(--color-secondary-09),
				'border-color':		var(--color-secondary-09),
				'background-color':	var(--color-base-01),
			),
		)
	);

	$outline-b: (
		6: (
			'font-weight': 400,
		),
		8: (
			'font-weight': 400,
		),
		10: (
			'font-weight': 400,
		),
		12: (
			'font-weight': 400,
		),
		14: (
			'font-weight': 400,
		),
		16: (
			'font-weight': 400,
		),
	);

	// accent
	@each $accent-name in $accent {
		&.#{nth($accent-name, 1)} {
			@each $type-name, $color, $border-color, $background-color in map-get($accent, nth($accent-name, 1)) {
				// @debug "divider offset: #{nth($type-name, 1)}";
				&.type-#{nth($type-name, 1)} {
					// variables
					@each $variables in map-get($accent, nth($accent-name, 1), nth($type-name, 1)) {
						--#{nth($variables, 1)}: #{nth($variables, 2)};
					}
				}
			}
		}
	}

	// @each $name in $outline-b {
	// 	// @debug "divider offset: #{nth($name, 1) * $BASELINE}";
	// 	&.outline-b#{nth($name, 1)}x {
	// 		--height: #{nth($name, 1) * $gutter-1};
	// 		--line-height: #{nth($name, 1) * $gutter-1 * 0.5};
	// 	}
	// }

	@each $i, $name in $outline-b {
		$gutter-value: map-get($gutters, $i); // $gutters 맵에서 해당하는 값 가져오기
		&.outline-b#{$i}x {
			@include set-vw(--line-height,$gutter-value);
			@include set-vw(--height,$gutter-value);
		}
	}

	display: inline-flex;
	align-items: center;
	justify-content: center;
	column-gap: calc((var(--line-height) / 1.5) * 0.25);
	padding-right: calc(var(--height) / 2.4 - 4px);
	padding-left: calc(var(--height) / 2.4 - 4px);
	height: var(--height);
	box-sizing: border-box;
	border-style: solid;
	@include set-vw(border-width, 1px);
	line-height:  calc((var(--line-height) / 1.5));
	font-size: calc(var(--line-height) / 3);
	color: var(--color);
	border-color: var(--border-color);
	background-color: var(--background-color);
	

	&.style-b {
		border-radius: calc(var(--height) / 6.4);
	}

	&.style-c {
		border-radius: calc(var(--height) / 2);
	}
	
	&:where(:disabled, .disabled) {
		color: var(--color-base-01);
		border-color: var(--color-base-06);
		background-color: var(--color-base-06);
	}

	.btn-text {
		display: flex;
		align-items: center;
		justify-content: center;
		white-space: nowrap;
		text-align: center;
	}

	&.ico{
		&::after{
			content: "";
			@include set-vw(width, 24px);
			@include set-vw(height, 24px);
			mask-repeat: no-repeat;
			mask-position: center center;
			mask-size: 100% auto;
		}
		&.arrow_right_w{
			&::after{
				mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='rgb(0, 0, 0)' d='M12.3129 6.37397C12.6058 6.08107 13.0807 6.08107 13.3736 6.37397L18.5 11.5004L13.3735 16.6269C13.0806 16.9198 12.6057 16.9198 12.3128 16.6269C12.0199 16.334 12.0199 15.8591 12.3128 15.5662L15.6287 12.2504H6.25C5.83579 12.2504 5.5 11.9146 5.5 11.5004C5.5 11.0862 5.83579 10.7504 6.25 10.7504H15.6287L12.3129 7.43463C12.02 7.14173 12.02 6.66686 12.3129 6.37397Z'/></svg>");
				background-color:  var(--color-base-01);
			}
		}
	}
}


// .btn{
// 	display: inline-block;
// 	vertical-align: top;
// 	padding: 9px 16px;
// 	font-size: 14px;
// 	border: 1px solid #999999;
// 	color: #666;
// 	line-height: 1;
// 	transition: all 0.1s;
// 	&.active,
// 	&:hover,
// 	&:focus{
// 		background-color: #f8f8f8;
// 	}
// 	&:disabled{opacity: 0.4;}
// }

// .btn-block{display: block;width: 100%;}

// .btn-xl{font-size: 16px;padding: 13px 24px;}
// .btn-l{font-size: 16px;padding: 11px 24px;}
// .btn-s{font-size: 13px;padding: 7px 24px;}
// .btn-xs{font-size: 13px;padding: 5px 24px;}



// .btn.btn-solid{
// 	background-color: #264998;
// 	color: #fff;
// 	border-color: #264998;
// 	&.active,
// 	&:hover,
// 	&:focus{
// 		background-color: #1e3978;
// 		border-color: #1e3978;
// 	}
// }


// .btn.btn-navy{
// 	background-color: #212e4e;
// 	border-color: #212e4e;
// 	color: #fff;
// }
// .btn.btn-gray{
// 	background-color: #8d9096;
// 	border-color: #8d9096;
// 	color: #fff;
// }