ul.posts-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.posts-display.module-a {
	--padding: 20px 0;
	--column-count: 1;
	--column-gap: 0;
	--row-gap: var(--column-gap);
	--width: calc((100% / var(--column-count)) - (var(--column-gap) * (var(--column-count) - 1) / var(--column-count)));

	--head-line-height: 28px;
	--head-font-weight: 700;
	--head-color: var(--color-base-12);

	--body-line-height: 20px;
	--body-font-weight: 400;
	--body-color: var(--color-base-09);
	--background-color: var(--color-base-09);


	&.type-c {
		.posts-item {
			.posts-wrap {				
				.posts-inform {
					align-items: center;
					text-align: center;
				}
			}
		}
	}

	.posts-list {
		display: flex;
		// flex-wrap: wrap;
		column-gap: var(--column-gap);
		row-gap: var(--row-gap);
		justify-content: center;
		flex-direction: column;
		.posts-item {
			flex-shrink: 0;
			display: flex;
			position: relative;
			// padding: var(--padding);
			width: var(--width);
			box-sizing: border-box;

			.posts-wrap {
				display: flex;
				flex: 1 1 100%;
				position: relative;

				.posts-inform {
					display: flex;
					flex-direction: column;

					.posts-type {
						display: flex;
						align-items: center;
						justify-content: center;
						position: absolute;
						top: 16px;
						left: 16px;

						.data-list {
							.data-item {
								display: flex;
								flex-direction: column;
								justify-content: center;
								align-items: center;
								position: relative;
								width: 40px;
								height: 40px;
								box-sizing: border-box;
								line-height: 10px;
								font-size: 8px;
								color: var(--color-base-01);
								text-align: center;
								mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M14.2769 2.15088C14.9522 1.81178 15.7897 2.06391 16.1349 2.71026L17.0082 4.34556C17.2097 4.72287 17.5929 4.98312 18.0346 5.04265L19.9488 5.30064C20.7054 5.40261 21.2266 6.07321 21.1051 6.78847L20.7977 8.59809C20.7268 9.01563 20.8754 9.43969 21.1958 9.73396L22.5845 11.0093C23.1334 11.5134 23.1392 12.3463 22.5975 12.8573L21.2268 14.15C20.9105 14.4483 20.7678 14.8742 20.8446 15.2908L21.1773 17.0964C21.3088 17.8101 20.7971 18.4872 20.042 18.5987L18.1315 18.8807C17.6907 18.9458 17.3112 19.2109 17.115 19.5907L16.2647 21.2368C15.9286 21.8875 15.0948 22.1501 14.4147 21.8196L12.6943 20.9832C12.2973 20.7903 11.8259 20.7932 11.4317 20.9912L9.72309 21.8491C9.04775 22.1882 8.21034 21.9361 7.86515 21.2897L6.9918 19.6544C6.79029 19.2771 6.40712 19.0169 5.96544 18.9574L4.05121 18.6994C3.2946 18.5974 2.77344 17.9268 2.89494 17.2115L3.20231 15.4019C3.27324 14.9844 3.1246 14.5603 2.80419 14.266L1.4155 12.9907C0.866617 12.4866 0.86078 11.6537 1.40255 11.1427L2.77324 9.84996C3.08951 9.55169 3.23219 9.12579 3.15542 8.70918L2.82271 6.90359C2.69121 6.18992 3.20292 5.51282 3.95803 5.40133L5.86848 5.11926C6.30928 5.05418 6.68878 4.78912 6.88498 4.40931L7.73533 2.76316C8.07144 2.11251 8.90524 1.84986 9.58527 2.18043L11.3057 3.01676C11.7027 3.20973 12.1741 3.20677 12.5683 3.00881L14.2769 2.15088Z" /></svg>') no-repeat center/cover;
								background: linear-gradient(130.36deg, #3617CE 42.63%, #867BEB 86.54%);
								
								.wbr {
									display: block;
								}
							}
						}
					}
					.posts-head {
						.posts-subject {
							margin: 0;
							// line-height: var(--head-line-height);
							// font-size: calc(var(--head-line-height) / 1.5);
							font-weight: var(--head-font-weight);
							color: var(--head-color);

							.posts-name {
								display: block;
							}
						}
					}

					.posts-body {
						// line-height: var(--body-line-height);
						// font-size: calc(var(--body-line-height) / 1.5);
						font-weight: var(--body-font-weight);
						letter-spacing: -0.333px;
						color: var(--body-color);

						.para {
							margin: 0;

							.wbr {
								display: block;
							}
						}
					}

					.posts-data {
						flex: 1 1 100%;
						margin-top: 4px;

						.data-list {
							.data-item {
								display: flex;
								flex-wrap: wrap;
								column-gap: 0.25em;
								// line-height: $gutter-4;
								// font-size: calc($gutter-4 / 1.5);
								font-weight: 500;
								color: var(--color-base-07);
					
								.head {
									display: block;
								}

								.body {
									display: block;
								}
							}
						}
					}
				}
			}
			.posts-util {
				margin-top: $gutter-2;

				.button-display {
					.button-area {
						.btn {
							font-weight: 500;
							text-decoration: none;
						}
					}
				}
			}
		}
	}

	
	&.style-b {
		// --padding: #{12px} #{int(28)};
		width: 100%;
		padding: 15px 20px;
		// @include set-pair-vw(padding, 15px, 20px);
		border-radius: 24px;
		background-color: var(--color-base-03);

		.posts-list {
			width: 100%;

			.posts-item {
				+.posts-item {
					border-top: 1px solid var(--color-base-04);
				}

				.posts-wrap {	
					column-gap: 16px;

					.posts-inform {
						.posts-head {
							display: flex;
							flex-direction: column;
							row-gap: 12px;
							@include set-vw(max-width, 200px);
						}
					}
					
					&::before {
						content: '';
						display: block;
						flex-shrink: 0;
						width: 100%;  
						@include set-vw(max-width, 170px);
						height: 212px;
						// @include set-vw(height, 212px);  
						object-fit: cover;  
						border-radius: 8px;
						background-repeat: no-repeat;
						background-position: center;
						background-size: cover;
						background-image: var(--background-image);
					}
				}
			}
		}
	}	
}

.posts-display.module-b {
	--padding: 20px 16px 20px 20px;
	--inform-row-gap: 8px;

	--head-line-height: $gutter-6;
	--head-font-weight: 500;
	--active-font-weight: 700;
	--head-color: var(--color-base-12);

	&.style-b {
		.posts-list {
			// border-top: 2px solid var(--color-base-11);
			border-bottom: 1px solid var(--color-base-04);

			.posts-item {
				+.posts-item {
					border-top: 1px solid var(--color-base-04);
				}
			}
		}
	}

	&.style-c {
		.posts-list {
			border-top: 2px solid var(--color-base-11);

			.posts-item {
				+.posts-item {
					border-top: 1px solid var(--color-base-04);
				}
			}
		}
	}

	.posts-list {
		.posts-item {
			&.active {
				.posts-wrap {
					.posts-inform {
						.posts-head {
							.posts-subject {
								font-weight: var(--active-font-weight);

								.posts-name {
									.em {
										abbr {
											font-weight: 700;
										}
									}
								}
							}
						}
					}
				}
			}

			.posts-wrap {
				position: relative;
				padding: var(--padding);

				.posts-inform {
					display: flex;
					flex-wrap: wrap;
					row-gap: var(--inform-row-gap);
					justify-content: space-between;

					.posts-type {
						display: flex;
						flex: 1 1 100%;
					}

					.posts-head {
						display: flex;

						.posts-subject {
							display: flex;
							margin: 0;
							line-height: var(--head-line-height);
							font-size: calc(var(--head-line-height) / 1.5);
							font-weight: var(--head-font-weight);
							color: var(--head-color);

							.posts-name {
								display: flex;
								column-gap: 8px;
								padding-right: 16px;
								margin-right: 16px;
								word-break: break-all;

								.em {
									display: flex;
									
									abbr {
										display: block;
										text-decoration: none;
										font-weight: 500;
									}
								}

								.wbr {
									display: block;
								}
							}
						}
					}

					.posts-func {
						display: flex;
						position: absolute;
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;
						
						.btn.expand {
							display: flex;
							flex: 1 1 100%;
							align-items: center;
							justify-content: flex-end;
							margin-right: 16px;

							&::before {
								content: '';
								display: block;
								width: 24px;
								height: 24px;
								mask: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='rgb(0, 0, 0)' d='M6.228 8.225a.761.761 0 0 0 0 1.086L12 15l5.772-5.689a.762.762 0 0 0 0-1.086.785.785 0 0 0-1.1 0L12 12.827 7.328 8.225a.785.785 0 0 0-1.1 0Z'/></svg>") no-repeat center/cover;
								background-color: var(--color-base-10);
								transition: transform 0.5s ease; //20240329 라인수정
							}

							// &::after {
							// 	content: '';
							// 	display: block;
							// 	position: absolute;
							// 	top: 0;
							// 	right: 0;
							// 	bottom: 0;
							// 	left: 0;
							// 	// background-color: rgba(255, 0, 0, 0.25);
							// 	// z-index: -1;
							// }

							.btn-text {
								@include hidden;
							}

							&.active::before {
								transform: rotate(180deg);
							}
						}
					}
				}
			}

			.posts-side {
				overflow: hidden;
				padding: 20px;
				box-sizing: border-box;
				box-shadow: inset 0 1px 0 0 var(--color-base-04);
				background-color: var(--color-base-02);

				p {
					margin: 0;
					color: var(--color-base-12);

					+.faq-data-table {
						margin-top: 12px;
					}
				}

				p.para-subject {
					line-height: $gutter-5;
					font-size: calc($gutter-5 / 1.5);
					color: var(--color-base-12);
					font-weight: 700;

					abbr {
						display: inline-block;
						text-decoration: none;
					}
				}

				p.para-text {
					line-height: $gutter-5;
					font-size: calc($gutter-5 / 1.5);
					color: var(--color-base-10);
					letter-spacing: 0.64px;

					a.btn.more {
						text-decoration: none;
					}

					.em {
						display: initial;
					}

					.underline {
						text-decoration: underline;
					}
				}

				p.faq-image {
					text-align: center;
				}

				.faq-video {
					text-align: center;
				}

				p.faq-btn {
					text-align: center;
				}

				.faq-data-table {
					border-top: 2px solid #202020;
					border-bottom: 1px solid #ddd;
					
					&.type-a {
						table.para-table {
							tbody {
								th {
									background-color: #ebebeb;
									line-height: $gutter-5;
									font-size: calc($gutter-5 / 1.5);
									color: var(--color-base-10);
									border-bottom: 1px solid #ddd;
								}
	
								td {
									line-height: $gutter-5;
									font-size: calc($gutter-5 / 1.5);
									color: var(--color-base-10);
								}
							}
						}
					}

					&.type-c {
						table.para-table {
							thead {
								th {
									line-height: $gutter-5;
									font-size: calc($gutter-5 / 1.5);
									color: var(--color-base-11);
								}
							}
	
							tbody {
								td {
									line-height: $gutter-5;
									font-size: calc($gutter-5 / 1.5);
									color: var(--color-base-11);
									text-align: center;
								}
							}
						}

						&[class*=attr-scroll-x] {
							overflow-x: auto;

							table {
								min-width: 560px;

								thead {
									tr {
										th:first-child {
											position: sticky;
											left: 0;
										}
									}
								}

								tbody {
									tr {
										td:first-child {
											position: sticky;
											left: 0;
										}
									}								
								}
							}
						}
					}

					table.para-table {
						table-layout: fixed;
						border-spacing: 0;
						border-collapse: collapse;
						border: hidden;
						width: 100%;
						
						caption {
							@include hidden;
						}
	
						
	
						th, td {
							padding: 12px;
	
							.btn.more {
								display: block;
								line-height: $gutter-4;
								font-size: calc($gutter-4 / 1.5);
								color: var(--color-base-10);
							}
	
							.para-noti {
								margin: 0;
								line-height: $gutter-5;
								font-size: calc($gutter-5 / 1.5);
								color: var(--color-base-10);
							}
						}
	
						th {
							background-color: #ebebeb;
							font-weight: 400;
							text-align: center;
							border-bottom: 1px solid #ddd;
							border-right: 1px solid #ddd;
						}
	
						td {
							background-color: var(--color-base-01);
							border-bottom: 1px solid #ddd;
							border-right: 1px solid #ddd;
						}
					}
				}
				
				
			}

			&[data-bui-dropdown]:not(.active) {
				.posts-side {
					display: none;
				}
			}
		}
	}
}

.posts-display.module-c {
	--column-count: 1;
	--column-gap: 4px;
	--row-gap: var(--column-gap);
	--width: calc((100% / var(--column-count)) - (var(--column-gap) * (var(--column-count) - 1) / var(--column-count)));

	.posts-list {
		display: flex;
		flex-wrap: wrap;
		column-gap: var(--column-gap);
		row-gap: var(--row-gap);
		box-sizing: border-box;

		.posts-item {
			width: var(--width);
			border-radius: 16px;
			background-color: var(--color-base-01);

			.posts-wrap {
				position: relative;
				box-sizing: border-box;

				.posts-head {
					.posts-subject {
						display: flex;
						margin: 0;
						position: relative;
						
						.posts-name {
							flex: 1 1 100%;
							display: flex;
							column-gap: 0.25em;
							padding: 20px 40px 20px 24px;
							color: var(--color-normal-020);
							// @include font((outline: 5x, size: 1.5)...);
							word-break: break-all;
							text-decoration: none;
							
							.em {
								font-weight: 700;

								abbr {
									text-decoration: none;
								}
							}

							&::after {
								flex-shrink: 0;
								content: '';
								display: block;
								position: absolute;
								right: 16px;
								margin-left: auto;
								width: $gutter-5;
								height: $gutter-5;
								background-color: var(--color-base-09);
								mask: icon(style-a, chevron-right) no-repeat center/cover;
							}
						}
					}
				}
			}
		}
	}
}
















// .dropmenu{
// 	position: relative;
// 	font-size: 14px;
// 	.trigger{
// 		display: block;
// 		width: 100%;
// 		height: 36px;
// 		border: 1px solid #e0e0e0;
// 		padding: 0 28px 0 16px;
// 		text-align: left;
// 		transition: all 0.1s;
// 		position: relative;
// 		&:after{
// 			content:"";display: block;
// 			position: absolute;right: 17px;top: 50%;
// 			background: url("../img/common/select-icon.png") no-repeat 0 0;
// 			width: 12px;height: 6px;
// 			transform: translateY(-50%) rotate(0deg);
// 			transition: all 0.1s;
// 		}
// 		&:hover{
// 			background-color: #f8f8f8;
// 			border-color: #999999;
// 		}
// 		&.active{
// 			background-color: #f8f8f8;border-color: #999999;
// 			&:after{
// 				transform: translateY(-50%) rotate(180deg);
// 			}
// 			+div{
// 				display: block;
// 			}
// 		}
// 	}
// 	> div{
// 		display: none;
// 		position: absolute;left: 0;right: 0;
// 		top: 36px;
// 		background-color: #fff;
// 		border: 1px solid #999999;border-top: 0;
// 	}
// 	.heading{
// 		font-size: 12px;color: #777;
// 		padding: 23px 12px 7px;
// 	}
// 	ul{
// 		li{
// 			a{
// 				display: block;
// 				padding: 12px 18px;
// 				&:hover{
// 					background-color: #f0f0f0;
// 				}
// 			}
// 			&.active{
// 				a{
// 					background-color: #f0f0f0;
// 				}
// 			}
// 		}
// 	}
// }