
ul.goods-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

/**
 * @name		goods-display
 * @moudle		module-a
**/
.goods-display.module-a {
	--column-count: 1;
	--width: calc((100% / var(--column-count)) - (var(--column-gap) * (var(--column-count) - 1) / var(--column-count)));
	--padding: 32px 16px 32px 0;
	--column-gap: 0;
	--row-gap: var(--column-gap);
	--height: auto;

	--tags-padding: 0 8px;
	--tags-height: 20px;
	--tags-line-height: 16px;
	--tags-color: var(--color-base-01);
	--tags-border-radius: 16px 16px 0 16px;

	--subject-line-height: 24px;
	--subject-color: var(--color-base-12);
	--infoset-line-height: 20px;
	--infoset-color: var(--color-base-08);
	.goods-list {
		display: flex;
		flex-wrap: wrap;
		.goods-item {
			position: relative;
			.goods-wrap {
				display: flex;
				box-sizing: border-box;    justify-content: center;
				gap: 0 20px;
				@include tablet{
					display: flex;
    				box-sizing: border-box;
    				flex-direction: column;
				  }
				.goods-figure {
					width: 50%;
					position: relative;
					@include tablet{
						width: 100%;
					  }
					.goods-cover {
						.goods-thumbnail {
							width: 100%;
							img {
								display: block;
								object-fit: cover;
								width: 100%;
								@include set-vw(height,200px);
								&::before{
									content: "";
									position: absolute;
									top: 0;
									left: 0;
									bottom: 0;
									right: 0;
									width: 50%;
									visibility: visible;
									opacity: 1;
									background: linear-gradient(168.48deg, rgba(0, 0, 0, 0) 11.61%, rgba(0, 0, 0, 0.5) 85.71%);
								}
							}
						}
					}
					.goods-flag{
						position: absolute;
						right: 0;
						bottom: 0;
					}
				}

				.goods-inform {
					display: flex;
					flex-direction: column;
					justify-content: center;
					border-top: 1px solid var(--color-base-12);
					.goods-tags {

						.data-list {
							display: flex;
							flex-wrap: wrap;
							gap: 4px;

							.data-item {
								display: flex;
								flex-shrink: 0;
								align-items: center;
								padding: var(--tags-padding);
								box-sizing: border-box;
								font-weight: 500;
								&.dot::before{
									width: 4px;
									height: 4px;
									background-color: #434545;
									content: "";
									position: relative;
									top: -1px;
									right: 5px;
									transform: rotate(45deg);
									border-radius: 100%;
								}
							}
						}	
					}

					.goods-head {
						display: flex;
						flex-direction: column;
						.goods-subject {

							.goods-name {
								display: block;
							}
						}

						.goods-infoset {

							.data-list {
								.data-item {
									.head {
										@include hidden;
									}
								}
							}
						}
					}

					.goods-data {
						display: flex;
						@include set-vw(gap,10px);
						.mark{
							display: flex;
    						align-items: center;
							&.ico_floor::before{
								background-image: url('../../img/main/ico_floor_32.png');
							}
							&.ico_food::before{
									background-image: url('../../img/main/ico_food_32.png');
							}
							&.ico_parking::before{
									background-image: url('../../img/main/ico_parking_32.png');
							}
							&::before{
								content: "";
								display: block;
								position: relative;
								left: 0;
								top: 0;
								width: 25px;
								height: 25px;
								background-size: cover;
								
								
							}
						}
					}
				}
			}
		}
	}
}

.goods-display.module-b {
	--column-count: 1;
	--width: calc((100% / var(--column-count)) - (var(--column-gap) * (var(--column-count) - 1) / var(--column-count)));
	--padding: 32px 16px 32px 0;
	--column-gap: 0;
	--row-gap: var(--column-gap);
	--height: auto;

	--tags-padding: 0 8px;
	--tags-height: 20px;
	--tags-line-height: 16px;
	--tags-color: var(--color-base-01);
	--tags-border-radius: 16px 16px 0 16px;

	--subject-line-height: 24px;
	--subject-color: var(--color-base-12);
	--infoset-line-height: 20px;
	--infoset-color: var(--color-base-08);
	.goods-list {
		.goods-item {
			position: relative;
			.goods-wrap {
				display: flex;
				box-sizing: border-box;
				gap: 0 20px;
				flex-direction: row-reverse;justify-content: space-between;
				@include tablet{
					display: flex;
    				box-sizing: border-box;
    				flex-direction: column;
				  }
				.goods-figure {
					width: 60%;
					@include tablet{
						width: 100%;
					  }
					.goods-cover {
						.goods-thumbnail {
							display: flex;
							flex-direction: row;
							width: 100%;
							li{
								width: 33.33333%;
								img {
									display: block;
									object-fit: cover;
									width: 100%;
									@include set-vw(height,200px);
									&::before{
										content: "";
										position: absolute;
										top: 0;
										left: 0;
										bottom: 0;
										right: 0;
										width: 50%;
										visibility: visible;
										opacity: 1;
										background: linear-gradient(168.48deg, rgba(0, 0, 0, 0) 11.61%, rgba(0, 0, 0, 0.5) 85.71%);
									}
								}
							}
						}
					}
					.goods-flag{
						position: absolute;
						right: 0;
						bottom: 0;
					}
				}

				.goods-inform {
					display: flex;
					flex-direction: column;justify-content: flex-end;
					border-top: 1px solid var(--color-base-12);
					width: 40%;
					.goods-tags {

						.data-list {
							display: flex;
							justify-content: flex-end;
							gap: 4px;

							.data-item {
								display: flex;
								flex-shrink: 0;
								align-items: center;
								padding: var(--tags-padding);
								box-sizing: border-box;
								font-weight: 500;
								&.dot::before{
									width: 4px;
									height: 4px;
									background-color: #434545;
									content: "";
									position: relative;
									top: -1px;
									right: 5px;
									transform: rotate(45deg);
									border-radius: 100%;
								}
							}
						}	
					}

					.goods-head {
						display: flex;
						flex-direction: column;
						.goods-subject {

							.goods-name {
								display: block;
							}
						}

						.goods-infoset {

							.data-list {
								.data-item {
									.head {
										@include hidden;
									}
								}
							}
						}
					}

					.goods-data {
						display: flex;
						@include set-vw(gap,10px);justify-content: flex-end;
						.mark{
							display: flex;
    						align-items: center;
							&.ico_floor::before{
								background-image: url('../../img/main/ico_floor_32.png');
							}
							&.ico_food::before{
									background-image: url('../../img/main/ico_food_32.png');
							}
							&.ico_parking::before{
									background-image: url('../../img/main/ico_parking_32.png');
							}
							&::before{
								content: "";
								display: block;
								position: relative;
								left: 0;
								top: 0;
								width: 25px;
								height: 25px;
								background-size: cover;
								
								
							}
						}
					}
				}
			}
		}
	}
}

.goods-swiper.module-a{
	display: flex;
	@include tablet{
		flex-direction: column;
	}
	.swiper-container{
		flex: 1 1 100%;
		overflow: hidden;
		position: relative;
		.swiper-wrapper{
			.swiper-inform{
				position: absolute;
				left: 3vw;
    			bottom: 11%;
				.title{
					font-size: 40px;
					line-height: 44px;
					color: var(--color-base-01);
					font-weight: 500;
					@include tablet{
						font-size: 8vw;
						line-height:10vw;
					}
				}
				.subtitle{
					font-size: 10px;
					line-height: 12px;
					color: var(--color-base-01);
					font-weight: 400;
					margin-bottom: 20px;
					@include tablet{
						margin-bottom: 2vw;
						font-size: 3vw;
						line-height:4vw;
					}
				}
			}
		}
		.swiper-pagination-horizontal{
			top: 92%;
			width: 71%;
			left: 3vw;
		}
		.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
			background-color: #fff;
		}

		.swiper-button-next{
			position: absolute;
			top: 88%;
   	 		left: 84%;
			height: -5vw;
			scale: 0.3;
			color: #fff;
			margin-top: 0;
		}
		.swiper-button-prev{
			position: absolute;
			top: 88%;
			left: 80%;
			height: -5vw;
			scale: 0.3;
			color: #fff;
			margin-top: 0;
		}
		.swiper-button-auto-play {
			background-image: url('../../img/common/ico_play_white.png');
		}
		
		div[class|=swiper-button-auto] {
			width: 49px;
			height: 42px;
			background-size: cover;
			background-repeat: no-repeat;
			z-index: 1;
			position: absolute;
			top: 88%;
			left: 86%;
			scale: 0.5;
			margin-top: 0;
		}
		
		.swiper-button-auto-stop {
			background-image: url('../../img/common/ico_pause_white.png');
		}
		
		&.auto-play .swiper-button-auto-play {
			display: none;
		}
		
		&:not(.auto-play) .swiper-button-auto-stop {
			display: none;
		}
	}
	.swiper-sidecont{
		flex: 1 1 60%;overflow: hidden;
		img{
			@include img;
		}
	}
}

.goods-swiper.module-b{
	overflow: hidden;
    // margin: 0 0 0 8vw;
    transition: all .5s;
	.swiper-container{
		flex: 1 1 100%;
		position: relative;   
		padding: 0px 7.5vw;
		.swiper-wrapper{
			.swiper-inform{
				position: absolute;
				left: 1vw;
    			bottom: 4%;
				.title{
					font-size: 17px;
					line-height:23px;
					color: var(--color-base-01);
					font-weight: 500;
					@include tablet{
						font-size: 8vw;
						line-height:10vw;
					}
				}
				.caption{
					font-size: 14px;
					line-height: 12px;
					color: var(--color-base-01);
					font-weight: 400;
					margin-bottom: 6px;
					@include tablet{
						margin-bottom: 2vw;
						font-size: 3vw;
						line-height:4vw;
					}
				}
			}
		}

		.swiper-button-next{
			position: absolute;
			top: -16%;
			left: 89%;
			height: -5vw;
			scale: 0.5;
			color: #000000;
			margin-top: 0;
		}
		.swiper-button-prev{
			position: absolute;
			top: -16%;
			left: 86%;
			height: -5vw;
			scale: 0.5;
			color: #000000;
			margin-top: 0;
		}
	}
	.swiper-title{    padding: 0 0 0 7vw;}
}

.goods-swiper.module-c{
	overflow: hidden;
    // margin: 0 0 0 8vw;
    transition: all .5s;
	.swiper-container{
		flex: 1 1 100%;
		position: relative;   
		.swiper-wrapper{
			.swiper-inform{
				.subtitle{
					font-size: 10px;
					line-height: 12px;
					color: var(--color-base-13);
					font-weight: 400;
					margin-bottom: 20px;
					@include tablet{
						margin-bottom: 2vw;
						font-size: 3vw;
						line-height:4vw;
					}
				}
				.title{
					font-size: 17px;
					line-height:23px;
					color: var(--color-base-13);
					font-weight: 500;
					@include tablet{
						font-size: 8vw;
						line-height:10vw;
					}
				}
				.caption{
					font-size: 14px;
					line-height: 12px;
					color: var(--color-base-10);
					font-weight: 400;
					margin-bottom: 6px;
					@include tablet{
						margin-bottom: 2vw;
						font-size: 3vw;
						line-height:4vw;
					}
				}
			}
		}
		.swiper-pagination-horizontal{
			top: 92%;
			width: 71%;
			left: 3vw;
		}
		.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
			background-color: #fff;
		}

		.swiper-button-next{
			position: absolute;
			top: -16%;
			left: 98%;
			height: -5vw;
			scale: 0.5;
			color: #000000;
			margin-top: 0;
		}
		.swiper-button-prev{
			position: absolute;
			top: -16%;
			left: 95%;
			height: -5vw;
			scale: 0.5;
			color: #000000;
			margin-top: 0;
		}
	}
}

.goods-swiper.module-d{
	display: flex;
	@include tablet{
		flex-direction: column;
	}
	.swiper-container{
		flex: 1 1 100%;
		overflow: hidden;
		position: relative;
		.swiper-wrapper{
			.swiper-inform{
				position: absolute;
				left: 3vw;
    			bottom: 11%;
				.title{
					font-size: 40px;
					line-height: 44px;
					color: var(--color-base-01);
					font-weight: 500;
					@include tablet{
						font-size: 8vw;
						line-height:10vw;
					}
				}
				.subtitle{
					font-size: 10px;
					line-height: 12px;
					color: var(--color-base-01);
					font-weight: 400;
					margin-bottom: 20px;
					@include tablet{
						margin-bottom: 2vw;
						font-size: 3vw;
						line-height:4vw;
					}
				}
			}
		}
		.swiper-pagination-horizontal{
			top: 92%;
			width: 71%;
			left: 3vw;
		}
		.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
			background-color: #fff;
		}

		.swiper-button-next{
			position: absolute;
			top: 88%;
   	 		left: 84%;
			height: -5vw;
			scale: 0.3;
			color: #fff;
			margin-top: 0;
		}
		.swiper-button-prev{
			position: absolute;
			top: 88%;
			left: 80%;
			height: -5vw;
			scale: 0.3;
			color: #fff;
			margin-top: 0;
		}
		.swiper-button-auto-play {
			background-image: url('../../img/common/ico_play_white.png');
		}
		
		div[class|=swiper-button-auto] {
			width: 49px;
			height: 42px;
			background-size: cover;
			background-repeat: no-repeat;
			z-index: 1;
			position: absolute;
			top: 88%;
			left: 86%;
			scale: 0.5;
			margin-top: 0;
		}
		
		.swiper-button-auto-stop {
			background-image: url('../../img/common/ico_pause_white.png');
		}
		
		&.auto-play .swiper-button-auto-play {
			display: none;
		}
		
		&:not(.auto-play) .swiper-button-auto-stop {
			display: none;
		}
	}
	.swiper-sidecont{
		flex: 1 1 60%;overflow: hidden;
		img{
			@include img;
		}
	}
}

.goods-swiper.module-e{
	overflow: hidden;
    // margin: 0 0 0 8vw;
    transition: all .5s;
	.swiper-container{
		flex: 1 1 100%;
		position: relative;   
		// padding: 0px 7.5vw;
		.swiper-wrapper{
			transition-timing-function: linear;
			.swiper-slide {
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: #fff;
				padding: 15px 0;
				font-size: 18px;
				font-weight: bold;
			  }
			.swiper-inform{
				position: absolute;
				left: 1vw;
    			bottom: 4%;
				.title{
					font-size: 17px;
					line-height:23px;
					color: var(--color-base-01);
					font-weight: 500;
					@include tablet{
						font-size: 8vw;
						line-height:10vw;
					}
				}
				.caption{
					font-size: 14px;
					line-height: 12px;
					color: var(--color-base-01);
					font-weight: 400;
					margin-bottom: 6px;
					@include tablet{
						margin-bottom: 2vw;
						font-size: 3vw;
						line-height:4vw;
					}
				}
			}
		}

		.swiper-button-next{
			position: absolute;
			top: -16%;
			left: 89%;
			height: -5vw;
			scale: 0.5;
			color: #000000;
			margin-top: 0;
		}
		.swiper-button-prev{
			position: absolute;
			top: -16%;
			left: 86%;
			height: -5vw;
			scale: 0.5;
			color: #000000;
			margin-top: 0;
		}
	}
	.swiper-title{    padding: 0 0 0 7vw;}
	.swiper-group{
		display: flex;
	}
}