
/**
 * tab reset
**/
ul.tab-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.bui-tab-target {
	&:not(.active) {
		@include hidden;
	}
}

/**
 * @name		tab-display
**/
.tab-display {
	display: flex;

	.tab-list {
		display: flex;
		margin: 0;
		padding: 0;
		list-style: none;

		button.tab-item {
			overflow: visible;
			margin: 0;
			padding: 0;
			cursor: pointer;
			border: hidden;
			background-color: transparent;
			appearance: none;
			// @include font((family: default)...);
		}

		.tab-item {			
			.tab-text {
				display: flex;
				position: relative;
				justify-content: center;
				text-decoration: none;
				box-sizing: border-box;
			}

			&.current {
				z-index: 0;
			}
		}
	}

	// tab type
	&.type-a { 
		justify-content: flex-start;
	}

	&.type-b { 
		justify-content: flex-end;
	}

	&.type-c { 
		justify-content: center;
	}

	&.type-d { 
		.tab-list{
			flex: 1 1 100%;
			
			.tab-item {
				flex: 1 1 100%;
			}
		}
	}
}



// tab module-b
.tab-display.module-b {
	$accent: (
		'normal-01': (
			'none': (
				'color':			var(--color-base-01),
				'border-color':		var(--color-base-12),
				'background-color':	var(--color-base-12),
			),
		),
		'normal-02': (
			'none': (
				'color':			var(--color-base-01),
				'border-color':		var(--color-base-11),
				'background-color':	var(--color-base-11),
			),
		),
		'normal-03': (
			'none': (
				'color':			var(--color-base-01),
				'border-color':		var(--color-base-09),
				'background-color':	var(--color-base-09),
			),
		),
		'normal-04': (
			'none': (
				'color':			var(--color-base-01),
				'border-color':		var(--color-base-09),
				'background-color':	var(--color-base-09),
			),
		),
		'accent-01': (
			'none': (
				'color':			var(--color-base-01),
				'border-color':		var(--color-secondary-08),
				'background-color':	var(--color-secondary-08),
			),
		),
		'accent-02': (
			'none': (
				'color':			var(--color-base-01),
				'border-color':		var(--color-accent-020),
				'background-color':	var(--color-accent-020),
			),
		)
	); 

	$outline: (
		8: (
			'font-weight': 400,
		),
		10: (
			'font-weight': 400,
		),
		12: (
			'font-weight': 400,
		),
		14: (
			'font-weight': 400,
		),
		16: (
			'font-weight': 400,
		),
	);


	
	// accent
	@each $accent-name in $accent {
		&.#{nth($accent-name, 1)} {
			--accent-color: #{ map-get($accent, nth($accent-name, 1), 'none', 'color')};
			--accent-border-color: #{ map-get($accent, nth($accent-name, 1), 'none', 'border-color')};
			--accent-background-color: #{ map-get($accent, nth($accent-name, 1), 'none', 'background-color')};
		}
	}

	@each $name in $outline {
		&.outline-#{nth($name, 1)}x {
			--height: #{nth($name, 1) * $gutter-1};
			--line-height: #{nth($name, 1) * $gutter-1 * 0.5};
		}
	}

	--normal-color: var(--color-base-09);
	--normal-border-color: var(--color-base-05);

	.tab-list {
		display: flex;
		align-items: center;
		column-gap: calc((var(--line-height) / 1.5) * 0.5);

		.tab-item {
			.tab-text {
				display: flex;
				align-items: center;
				justify-content: center;
				white-space: nowrap;
				text-align: center;
				padding-right: calc(var(--height) / 2.4 - 1px);
				padding-left: calc(var(--height) / 2.4 - 1px);
				box-sizing: border-box;
				border-style: solid;
				border-width: 1px;
				border-color: var(--normal-border-color);
				height: var(--height);
				line-height: var(--line-height); 
				color: var(--normal-color);
				font-size: calc(var(--line-height) / 1.5);
			}   

			&.current {				
				.tab-text {
					color: var(--accent-color);
					border-color: var(--accent-border-color);
					background-color: var(--accent-background-color);
				}
			}
		}
	}

	&.style-b {
		.tab-list {
			.tab-item {
				.tab-text {
					border-radius: calc(var(--height) * 0.25);
				}
			}
		}
	}

	&.style-c {
		.tab-list {
			.tab-item {
				.tab-text {
					border-radius: calc(var(--height) / 2);
				}
			}
		}
	}
}


// tab module-c
.tab-display.module-c {
	$accent: (
		'normal-01': (
			'none': (
				'color':			var(--color-base-01),
				'border-color':		var(--color-base-12),
				'background-color':	var(--color-base-12),
			),
		),
		'normal-02': (
			'none': (
				'color':			var(--color-base-01),
				'border-color':		var(--color-base-11),
				'background-color':	var(--color-base-11),
			),
		),
		'normal-03': (
			'none': (
				'color':			var(--color-base-01),
				'border-color':		var(--color-base-09),
				'background-color':	var(--color-base-09),
			),
		),
		'normal-04': (
			'none': (
				'color':			var(--color-base-01),
				'border-color':		var(--color-base-09),
				'background-color':	var(--color-base-09),
			),
		),
		'accent-01': (
			'none': (
				'color':			var(--color-base-01),
				'border-color':		var(--color-secondary-08),
				'background-color':	var(--color-secondary-08),
			),
		),
		'accent-02': (
			'none': (
				'color':			var(--color-base-01),
				'border-color':		var(--color-accent-020),
				'background-color':	var(--color-accent-020),
			),
		)
	);

	$outline-t: (
		8: (
			'font-weight': 400,
		),
		10: (
			'font-weight': 400,
		),
		12: (
			'font-weight': 400,
		),
		14: (
			'font-weight': 400,
		),
		16: (
			'font-weight': 400,
		)
	);


	
	// accent
	@each $accent-name in $accent {
		&.#{nth($accent-name, 1)} {
			--accent-color: #{ map-get($accent, nth($accent-name, 1), 'none', 'color')};
			--accent-border-color: #{ map-get($accent, nth($accent-name, 1), 'none', 'border-color')};
			--accent-background-color: #{ map-get($accent, nth($accent-name, 1), 'none', 'background-color')};
		}
	}

	@each $name in $outline-t {
		&.outline-t#{nth($name, 1)}x {
			--height: #{nth($name, 1) * $gutter-1};
			--line-height: #{nth($name, 1) * $gutter-1 * 0.5};
		}
	}

	--normal-color: var(--color-base-09);
	--normal-border-color: var(--color-base-05);

	.tab-list {
		display: flex;
		align-items: center;
		border: 1px solid var(--normal-border-color);

		.tab-item {
			position: relative;
			
			+.tab-item {
				border-left: 1px solid var(--normal-border-color);
			}

			.tab-text {
				display: flex;
				align-items: center;
				justify-content: center;
				white-space: nowrap;
				text-align: center;
				padding-right: calc(var(--height) / 2.4 - 1px);
				padding-left: calc(var(--height) / 2.4 - 1px);
				box-sizing: border-box;
				height: var(--height);
				line-height: var(--line-height);
				font-size: calc(var(--line-height) / 1.5);
				color: var(	--normal-color);
			}

			&:focus-within,
			&.current {
				z-index: 1;
			}

			&.current {
				font-weight: 500;

				.tab-text {
					color: var(--accent-color);

					&::before {
						display: block;
						content: '';
						position: absolute;
						top: -1px;
						left: -1px;					
						width: 100%;
						height: 100%;
						z-index: -1;
						border: 1px solid var(--accent-border-color);
						background-color: var(--accent-background-color);
					}
				}
			}
		}
	}

	&.style-b {
		.tab-list {
			border-radius: calc(var(--height) / 6.4);

			.tab-item {
				&:first-child {
					.tab-text {
						&::before {
							border-top-left-radius: calc(var(--height) / 6.4);
							border-bottom-left-radius: calc(var(--height) / 6.4);
						}
					}
				}

				&:last-child {
					.tab-text {
						&::before {
							border-top-right-radius: calc(var(--height) / 6.4);
							border-bottom-right-radius: calc(var(--height) / 6.4);
						}
					}
				}
			}
		}
	}

	&.style-c {                
		.tab-list {
			border-radius: calc(var(--height) / 2);

			.tab-item {
				&:first-child {
					.tab-text {
						&::before {
							border-top-left-radius: calc(var(--height) / 2);
							border-bottom-left-radius: calc(var(--height) / 2);
						}
					}
				}

				&:last-child {
					.tab-text {
						&::before {
							border-top-right-radius: calc(var(--height) / 2);
							border-bottom-right-radius: calc(var(--height) / 2);
						}
					}
				}
			}
		}
	}
}


// tab module-d
.tab-display.module-d {
	$accent: (
		'normal-01': (
			'none': (
				'color':			var(--color-base-12),
				'border-color':		var(--color-base-12),
				'background-color':	var(--color-base-01),
			),
		),
		'normal-02': (
			'none': (
				'color':			var(--color-base-12),
				'border-color':		var(--color-base-11),
				'background-color':	var(--color-base-01),
			),
		),
		'normal-03': (
			'none': (
				'color':			var(--color-base-12),
				'border-color':		var(--color-base-09),
				'background-color':	var(--color-base-01),
			),
		),
		'normal-04': (
			'none': (
				'color':			var(--color-base-12),
				'border-color':		var(--color-base-09),
				'background-color':	var(--color-base-01),
			),
		),
		'accent-01': (
			'none': (
				'color':			var(--color-base-12),
				'border-color':		var(--color-secondary-08),
				'background-color':	var(--color-base-01),
			),
		),
		'accent-02': (
			'none': (
				'color':			var(--color-base-12),
				'border-color':		var(--color-accent-020),
				'background-color':	var(--color-base-01),
			),
		)
	);

	$outline: (
		8: (
			'font-weight': 400,
		),
		10: (
			'font-weight': 400,
		),
		12: (
			'font-weight': 400,
		),
	);


	
	// accent
	@each $accent-name in $accent {
		&.#{nth($accent-name, 1)} {
			--accent-color: #{ map-get($accent, nth($accent-name, 1), 'none', 'color')};
			--accent-border-color: #{ map-get($accent, nth($accent-name, 1), 'none', 'border-color')};
			--accent-background-color: #{ map-get($accent, nth($accent-name, 1), 'none', 'background-color')};
		}
	}

	@each $name in $outline {
		&.outline-#{nth($name, 1)}x {
			--height: #{nth($name, 1) * $gutter-1};
			--line-height: #{nth($name, 1) * $gutter-1 * 0.5};
		}
	}

	--normal-color: var(--color-base-09);
	--normal-border-color: var(--color-base-080);
	background-color: var(--color-base-100);

	.tab-list {
		display: flex;
		align-items: center;
		
		.tab-item {
			box-shadow: inset 0 int(-2) 0 0 var(--normal-border-color);
			background-color: var(--accent-background-color);

			.tab-text {
				display: flex;
				align-items: center;
				justify-content: center;
				white-space: nowrap;
				text-align: center;
				padding-right: calc(var(--height) / 2.4 - 1px);
				padding-left: calc(var(--height) / 2.4 - 1px);
				height: var(--height);
				line-height: var(--line-height);
				font-size: calc(var(--line-height) / 1.5);
				color: var(--normal-color);
			}

			&.current {
				.tab-text {
					box-shadow: inset 0 int(-2) 0 0 var(--accent-border-color);
					color: var(--accent-color);
					font-weight: 500;
				}
			}
		}
	}
}

// tab module-e
.tab-display.module-e {
	$accent: (
		'normal-01': (
			'none': (
				'color':			var(--color-base-01),
				'border-color':		var(--color-base-12),
				'background-color':	var(--color-base-12),
			),
		),
		'normal-02': (
			'none': (
				'color':			var(--color-base-01),
				'border-color':		var(--color-base-11),
				'background-color':	var(--color-base-11),
			),
		),
		'normal-03': (
			'none': (
				'color':			var(--color-base-01),
				'border-color':		var(--color-base-09),
				'background-color':	var(--color-base-09),
			),
		),
		'normal-04': (
			'none': (
				'color':			var(--color-base-01),
				'border-color':		var(--color-base-09),
				'background-color':	var(--color-base-09),
			),
		),
		'accent-01': (
			'none': (
				'color':			var(--color-base-01),
				'border-color':		var(--color-secondary-08),
				'background-color':	var(--color-secondary-08),
			),
		),
		'accent-02': (
			'none': (
				'color':			var(--color-base-01),
				'border-color':		var(--color-accent-020),
				'background-color':	var(--color-accent-020),
			),
		)
	);

	$outline: (
		8: (
			'font-weight': 400,
		),
		10: (
			'font-weight': 400,
		),
		12: (
			'font-weight': 400,
		),
		14: (
			'font-weight': 400,
		),
		16: (
			'font-weight': 400,
		),
		28: (
			'font-weight': 400,
		)
	);


	// accent
	@each $accent-name in $accent {
		&.#{nth($accent-name, 1)} {
			--accent-color: #{ map-get($accent, nth($accent-name, 1), 'none', 'color')};
			--accent-border-color: #{ map-get($accent, nth($accent-name, 1), 'none', 'border-color')};
			--accent-background-color: #{ map-get($accent, nth($accent-name, 1), 'none', 'background-color')};
		}
	}

	@each $name in $outline {
		&.outline-#{nth($name, 1)}x {
			--height: #{nth($name, 1) * $gutter-1};
			--line-height: #{nth($name, 1) * $gutter-1 * 0.5};
		}
	}

	--normal-color: var(--color-base-09);
	--normal-border-color: var(--color-base-05);
	--padding: 0 #{int(56)};

	.tab-list {
		position: relative;
		display: flex;
		align-items: center;
		border-style: solid;
		border-width: 1px;
		border-color: var(--normal-border-color);

		.tab-item {
			position: relative;

			.tab-text {
				display: flex;
				align-items: center;
				justify-content: center;
				white-space: nowrap;
				text-align: center;
				box-sizing: border-box;
				height: var(--height);
				line-height: var(--line-height);
				font-size: calc(var(--line-height) / 1.5);
				color: var(--normal-color);
				padding: var(--padding);
			}

			&:focus-within,
			&.current {
				z-index: 1;
			}

			&.current {
				background-color: var(--accent-background-color);



				.tab-text {
					color: var(--accent-color);

					&::before {
						display: block;
						content: '';
						position: absolute;
						top: -1px;
						right: -1px;
						bottom: -1px;
						left: -1px;
						width: 100%;
						height: 100%;
						z-index: -1;
						border: 1px solid var(--accent-border-color);
						background-color: var(--accent-background-color);
					}
				}
			}
		}
	}

	&.style-b {
		.tab-list {
			border-radius: calc(var(--height) / 6.4);
			.tab-item {
				border-radius: calc(var(--height) / 6.4);

				.tab-text {
					&::before {
						border-radius: calc(var(--height) / 6.4);
					}
				}

			}
		}
	}

	&.style-c {
		.tab-list {
			border-radius: calc(var(--height) / 2);

			.tab-item {
				border-radius: calc(var(--height) / 2);

				.tab-text {					
					&::before {
						border-radius: calc(var(--height) / 2);
					}
				}

			}
		}
	}
}


// tab temp-01
.tab-display.module-f {
	--line-height: var(--baseline-6x);
	--font-size: calc(var(--line-height) / 1.5);
	// --width: #{int(318)};
	--accent-background-color: var(--color-base-12);
	--accent-color: var(--color-base-01);
	--color: var(--color-base-09);
	--hash-color: var(--color-base-09);
	--icon-color: var(--color-base-09);
	--border-color: var(--color-base-05);
	--border-radius: #{int(14)};

	.tab-list {
		display: flex;
		flex-wrap: wrap;
		column-gap: int(8);
		
		.tab-item {
			display: flex;
			// flex: 1 1 100%;

			align-items: center;
			column-gap: calc(var(--line-height) / 2);
			position: relative;
			// width: var(--width);

			.tab-text {
				display: flex;
				flex: 1 1 100%;
				flex-direction: column;
				padding: int(12) int(18) int(12) int(48);
				height: int(64);
				box-sizing: border-box;
				line-height: var(--line-height);
				font-size: var(--font-size);
				color: var(	--color);
				border-style: solid;
				border-width: 1px;
				border-radius: var(--border-radius);
				border-color: var(--border-color);

				.sub-text {
					display: block;
					line-height: var(--baseline-4x);
					font-size: calc(var(--baseline-4x) / 1.5);
					font-weight: 400;
					color: var(	--hash-color);
				}

				&::before {
					content: '';
					display: block;
					position: absolute;
					left:  calc(var(--line-height) / 2);
					width: int(24);
					height: int(24);
					background-color: var(--icon-color);
				}
			}


			&.current {
				.tab-text {
					font-weight: 500;
					color: var(--accent-color);
					border-color: var(--accent-border-color);
					background-color: var(--accent-background-color);

					.sub-text {
						color: var(--accent-color);
					}

					&::before {
						background-color: #FFFC0D;
					}
				}
			}

			&.cinema {
				.tab-text {
					&::before {
						mask: icon(style-b, movie) no-repeat center/cover;
					}
				}

				&.current {
					.tab-text {
						background-color: #019CDC;;
					}
				}
			}

			&.playground {
				.tab-text {
					&::before {
						mask: icon(style-b, game) no-repeat center/cover;
					}
				}

				&.current {
					.tab-text {
						background-color: #7E50F2;
					}
				}
			}

			&.gym {
				.tab-text {
					&::before {
						mask: icon(style-b, cycling) no-repeat center/cover;
					}
				}

				&.current {
					.tab-text {
						background-color: #329B84;
					}
				}
			}

			&.family {
				.tab-text {
					&::before {
						mask: icon(style-b, love-house) no-repeat center/cover;
					}
				}

				&.current {
					.tab-text {
						background-color: #FF7E00;
					}
				}
			}

			&.independent {
				.tab-text {
					&::before {
						mask: icon(style-b, users) no-repeat center/cover;
					}
				}
			}
		}
	}
}



// tab module-g
.tab-display.module-g {
	$accent: (
		'normal-01': (
			'none': (
				'color':			var(--color-base-01),
				'border-color':		var(--color-base-12),
				'background-color':	var(--color-base-12),
			),
		),
		'normal-02': (
			'none': (
				'color':			var(--color-base-01),
				'border-color':		var(--color-base-11),
				'background-color':	var(--color-base-11),
			),
		),
		'normal-03': (
			'none': (
				'color':			var(--color-base-01),
				'border-color':		var(--color-base-09),
				'background-color':	var(--color-base-09),
			),
		),
		'accent-01': (
			'none': (
				'color':			var(--color-base-01),
				'border-color':		var(--color-secondary-08),
				'background-color':	var(--color-secondary-08),
			),
		),
		'accent-02': (
			'none': (
				'color':			var(--color-base-01),
				'border-color':		var(--color-accent-020),
				'background-color':	var(--color-accent-020),
			),
		)
	);

	// accent
	@each $accent-name in $accent {
		&.#{nth($accent-name, 1)} {
			--accent-color: #{ map-get($accent, nth($accent-name, 1), 'none', 'color')};
			--accent-border-color: #{ map-get($accent, nth($accent-name, 1), 'none', 'border-color')};
			--accent-background-color: #{ map-get($accent, nth($accent-name, 1), 'none', 'background-color')};
		}
	}

	&.type-c {
		justify-content: center;
	}

	--mask-image: #{icon(style-b, premium)};

	.tab-list {
		// display: flex;
		// flex-wrap: wrap;
		// column-gap: int(24);
		
		.tab-item {
			position: relative;

			&::before,
			&::after {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: calc(50% - int(23));
				width: int(46);
				height: int(46);
				border-radius: int(12);

			}

			&::before {
				z-index: 1;
				background-color: var(--color-base-060);
			}

			&::after {
				background-color: var(--color-secondary-08);
				opacity: 0;
			}

			.tab-text {
				position: relative;
				z-index: 1;
				display: flex;
				flex-direction: column;
				align-items: center;
				row-gap: int(4);
				line-height: int(18);
				font-size: calc(int(18) / 1.5);
				color: var(--color);
				text-align: center;

				&::before {
					content: '';
					display: block;
					width: int(46);
					height: int(46);
					mask-repeat: no-repeat;
					mask-position: center;
					mask-size: int(36);
					mask-image: var(--mask-image);
					background-color: var(--color-base-01);
				}
			}

			&.all {
				--mask-image: #{icon(style-b, entire)};
			}

			&.premium {
				--mask-image: #{icon(style-b, premium)};
			}

			&.appliances {
				--mask-image: #{icon(style-b, television)};
			}

			&.tablet {
				--mask-image: #{icon(style-b, laptop)};
			}

			&.healthcare {
				--mask-image: #{icon(style-b, cycling)};
			}

			&.lifestyle {
				--mask-image: #{icon(style-b, sofa)};
			}

			&.giftcard {
				--mask-image: #{icon(style-b, gift)};
			}

			
			&.current {
				@keyframes iconBefore {
					from {
						background-color: var(--color-base-060);
						backdrop-filter: blur(0);
						
					}
					to {
						background-color: rgba(255, 255, 255, 0.18);
						backdrop-filter: blur(int(8));
					}
				}
			
				@keyframes iconAfter {
					from {
						opacity: 0;
						transform: translate(0, 0);
					}
					to {
						opacity: 1;
						transform: translate(int(8), int(-8));
					}
				}

				&::before {
					animation: iconBefore 0.25s 0s ease-in-out forwards;
				}
				
				&::after {
					animation: iconAfter 0.25s 0s ease-in-out forwards;
				}
			}
		}
	}
}


// tab temp-03
.tab-display.module-h{

	--color: var(--color-base-11);
	--background-color: var(--color-base-090);
	--accent-background-color: var(--color-base-01);

	&.style-b {
		.tab-list {
			.tab-item {
				.tab-text {
					border-top-left-radius: int(20);
					border-top-right-radius: int(20);
					border-bottom-left-radius: int(20);
				}
			}
		}
	}

	.tab-list {
		display: flex;
		column-gap: int(12);
		row-gap: int(12);
		
		.tab-item {
			display: flex;
			// width: int(156);
			width: var(--width);
			height: int(124);

			.tab-text {
				display: flex;
				flex-direction: column;
				row-gap: int(16);
				justify-content: space-between;
				padding: int(20);
				width: 100%;
				box-sizing: border-box;
				line-height: var(--baseline-6x);
				font-size: calc(var(--baseline-6x) / 1.5);
				font-weight: 500;
				color: var(--color);
				background-color: var(--background-color);
				letter-spacing: int(-0.4);

				.sub-text {
					display: flex;
					align-items: center;
					line-height: var(--baseline-5x);
					font-size: calc(var(--baseline-5x) / 1.5);
					color: var(--color-base-09);

					&::after {
						content: '';
						display: block;
						width: int(20);
						height: int(20);
						background-color: var(--color-base-09);
						mask: icon(style-a, chevron-right) no-repeat center/cover;
					}
				}
			}


			&.current {
				.tab-text {
					position: relative;
					overflow: hidden;
					border-style: solid;
					border-width: int(2);
					border-color: var(--color-secondary-08);

					&::before {
						display: block;
						content: '';
						position: absolute;
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;
						z-index: 1;
						background-color: var(--accent-background-color);
						background-size: int(85) int(85);
						background-position: center;
						background-repeat: no-repeat;
						background-image: var(--background-image);
					}
				}
			}
		}
	}
}




























// ul.tab-list {
// 	margin: 0;
// 	padding: 0;
// 	list-style: none;
// }

// .bui-tab-target {
// 	&:not(.active) {
// 		@include hidden;
// 	}
// }

// /**
//  * @name		tab-display
// **/
// .bui-tab-display {
// 	display: flex;

// 	.tab-list {
// 		display: flex;
// 		margin: 0;
// 		padding: 0;
// 		list-style: none;

// 		button.tab-item {
// 			overflow: visible;
// 			margin: 0;
// 			padding: 0;
// 			cursor: pointer;
// 			border: hidden;
// 			background-color: transparent;
// 			appearance: none;
// 			// @include font((family: default)...);
// 		}

// 		.tab-item {			
// 			.tab-text {
// 				display: flex;
// 				position: relative;
// 				justify-content: center;
// 				text-decoration: none;
// 				box-sizing: border-box;
// 			}

// 			&.current {
// 				z-index: 0;
// 			}
// 		}
// 	}

// 	// tab type
// 	&.type-a { 
// 		justify-content: flex-start;
// 	}

// 	&.type-b { 
// 		justify-content: flex-end;
// 	}

// 	&.type-c { 
// 		justify-content: center;
// 	}

// 	&.type-d { 
// 		.tab-list{
// 			flex: 1 1 100%;
			
// 			.tab-item {
// 				flex: 1 1 100%;
// 			}
// 		}
// 	}
// }

// // tab module-c
// .bui-tab-display.module-c {
// 	$accent: (
// 		'normal-01': (
// 			'none': (
// 				'color':			var(--bui-color-normal-100),
// 				'border-color':		var(--bui-color-normal-010),
// 				'background-color':	var(--bui-color-normal-010),
// 			),
// 		),
// 		'normal-02': (
// 			'none': (
// 				'color':			var(--bui-color-normal-020),
// 				'border-color':		var(--bui-color-normal-020),
// 				'background-color':	var(--bui-color-normal-100),
// 			),
// 		),
// 		'normal-03': (
// 			'none': (
// 				'color':			var(--bui-color-normal-020),
// 				'border-color':		var(--bui-color-normal-030),
// 				'background-color':	var(--bui-color-normal-100),
// 			),
// 		),
// 		'normal-04': (
// 			'none': (
// 				'color':			var(--bui-color-normal-020),
// 				'border-color':		var(--bui-color-normal-040),
// 				'background-color':	var(--bui-color-normal-100),
// 			),
// 		),
// 		'accent-01': (
// 			'none': (
// 				'color':			var(--bui-color-normal-100),
// 				'border-color':		var(--bui-color-accent-010),
// 				'background-color':	var(--bui-color-accent-010),
// 			),
// 		),
// 		'accent-02': (
// 			'none': (
// 				'color':			var(--bui-color-accent-020),
// 				'border-color':		var(--bui-color-accent-020),
// 				'background-color':	var(--bui-color-normal-100),
// 			),
// 		)
// 	);

// 	$outline: (
// 		8: (
// 			'font-weight': 400,
// 		),
// 		10: (
// 			'font-weight': 400,
// 		),
// 		12: (
// 			'font-weight': 400,
// 		),
// 		14: (
// 			'font-weight': 400,
// 		),
// 		16: (
// 			'font-weight': 400,
// 		),
// 	);


	
// 	// accent
// 	@each $accent-name in $accent {
// 		&.#{nth($accent-name, 1)} {
// 			--accent-color: #{ map-get($accent, nth($accent-name, 1), 'none', 'color')};
// 			--accent-border-color: #{ map-get($accent, nth($accent-name, 1), 'none', 'border-color')};
// 			--accent-background-color: #{ map-get($accent, nth($accent-name, 1), 'none', 'background-color')};
// 		}
// 	}

// 	@each $name in $outline {
// 		&.outline-#{nth($name, 1)}x {
// 			--height: #{nth($name, 1) * $gutter-1};
// 			--line-height: #{nth($name, 1) * $gutter-1 * 0.5};
// 		}
// 	}

// 	--normal-color: var(--bui-color-normal-030);
// 	--normal-border-color: var(--bui-color-normal-050);

// 	.tab-list {
// 		display: flex;
// 		align-items: center;
// 		border: 1rem solid var(--normal-border-color);

// 		.tab-item {
// 			position: relative;

// 			+.tab-item {
// 				border-left: 1rem solid var(--normal-border-color);
// 			}

// 			.tab-text {
// 				display: flex;
// 				align-items: center;
// 				justify-content: center;
// 				white-space: nowrap;
// 				text-align: center;
// 				padding-right: calc(var(--height) / 2.4 - 1rem);
// 				padding-left: calc(var(--height) / 2.4 - 1rem);
// 				box-sizing: border-box;
// 				height: var(--height);
// 				line-height: var(--line-height);
// 				font-size: calc(var(--line-height) / 1.5);
// 				color: var(	--normal-color);
// 			}

// 			&:focus-within,
// 			&.current {
// 				z-index: 1;
// 			}

// 			&.current {
// 				&::before {
// 					display: block;
// 					content: '';
// 					position: absolute;
// 					top: -1rem;
// 					left: -1rem;					
// 					width: 100%;
// 					height: 100%;
// 					border: 1rem solid var(--accent-border-color);
// 					background-color: var(--accent-background-color);
// 				}

// 				.tab-text {
// 					color: var(--accent-color);
// 				}
// 			}
// 		}
// 	}

// 	&.style-b {
// 		.tab-list {
// 			overflow: hidden;
// 			border-radius: calc(var(--height) / 6.4);
// 		}
// 	}

// 	&.style-c {                
// 		.tab-list {
// 			overflow: hidden;
// 			border-radius: calc(var(--height) / 2);
// 		}
// 	}
// }