<footer>
    <div class="footer_wrap">
      <div class="footer_logo"><span class="blind">THE HYUNDAI</span><img src="../../assets/img/common/logo_footer.png" alt=""> </div>
      <div class="footer_conts">
        <h2 class="blind">RELATED WEBSITE</h2>

        <div class="related_site">
          <ul>
            <li><a href="#">더현대닷컴</a></li>
            <li><a href="#">현대Hmall</a></li>
            <li><a href="#">현대식품관 투홈</a></li>
            <li><a href="#">현대리바트몰</a></li>
            <li><a href="#">현대어린이책미술관</a></li>
          </ul>
          <div class="family_site">
            <div class="posts-display module-b">
                <ul class="posts-list">
                    <li class="posts-item bui-dropdown-target" data-bui-dropdown="dropdowngroup">
                        <div class="posts-wrap">
                            <div class="posts-inform">
                              <div class="posts-head"><p class="posts-subject"><span class="posts-name">FAMILY SITE</span></p></div>
                              <div class="posts-func"><button type="button" class="btn expand normal-01 type-none" title="펼치기"><span class="blind">열기</span></button></div>
                            </div>
                        </div>
                        <div class="posts-side">
                            <ul>
                                <li><a href="#">현대백화점그룹</a></li>
                                <li><a href="#">현대백화점</a></li>
                                <li><a href="#">현대홈쇼핑</a></li>
                                <li><a href="#">현대그린푸드</a></li>
                                <li><a href="#">현대캐터링시스템</a></li>
                                <li><a href="#">C&amp;S푸드시스템</a></li>
                                <li><a href="#">한섬</a></li>
                                <li><a href="#">현대리바트</a></li>
                                <li><a href="#">현대L&amp;C</a></li>
                                <li><a href="#">현대면세점</a></li>
                                <li><a href="#">현대드림투어</a></li>
                                <li><a href="#">현대렌탈케어</a></li>
                                <li><a href="#">현대퓨처넷</a></li>
                                <li><a href="#">에버다임</a></li>
                                <li><a href="#">현대바이오랜드</a></li>
                                <li><a href="#">현대이지웰</a></li>
                                <li><a href="#">대원강업</a></li>
                                <li><a href="#">벤디스(식권대장)</a></li>
                                <li><a href="#">현대백화점그룹<br>사회복지재단</a></li>
                                <li><a href="#">상품본부</a></li>
                                <li><a href="#">협력사원 커뮤니티</a></li>
                                <li><a href="#">현대식품관 투홈</a></li>
                                <li><a href="#">현대지에프홀딩스</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
          </div>
        </div>
        <div class="ref_link">
          <div>
            <h2><a href="#">현대백화점 그룹</a></h2>
            <ul>
              <li><a href="#">공고사항</a></li>
              <li><a href="#">윤리경영</a></li>
              <li><a href="#">사회공헌</a></li>
            </ul>
          </div>
          <div>
            <h2 class="blind">법적고지 및 고객서비스</h2>
            <ul>
              <li><a href="#">이용약관</a></li>
              <li><a href="#">개인정보처리방침</a></li>
              <li><a href="#">개인정보 보호센터</a></li>
              <li><a href="#">주요문의처</a></li>
            </ul>
          </div>
          <div class="sub">
            <h2 class="blind">소셜미디어</h2>
            <ul>
              <li><a href="#">유튜브</a></li>
              <li><a href="#">블로그</a></li>
              <li><a href="#">인스타그램</a></li>
              <li><a href="#">포스트</a></li>
              <li><a href="#">페이스북</a></li>
            </ul>
          </div>
        </div>
        <div class="site_info">
          <h2 class="blind">WEBSITE INFORMATIONS</h2>
          <ul>
            <li>주식회사 현대백화점 대표이사 : 정지영 외 1인</li>
            <li>사업자등록번호 : 211-87-21455 <a href="#">사업자등록확인</a></li>
            <li>통신판매업 신고 : 강남-01882</li>
            <li class="break">개인정보관리책임 : 회원운영관리담당 박근호</li>
            <li>서울시 강남구 테헤란로 98길 12</li>
            <li>현대백화점 대표전화 : 02. 549. 2233</li>
          </ul>
          <p class="copyright">© Hyundai Department Store. All rights reserved.</p>
        </div>
        <div class="language_wrap">
          <h2 class="blind">언어선택</h2>
          <strong class="language_anchor">KR<span class="blind"> 국문사이트</span></strong>
          <a hhref="#" class="language_anchor">EN<span class="blind"> 영문사이트</span></a>
          <a hhref="#" class="language_anchor">CN<span class="blind"> 중문사이트</span></a>
          <a href="#" class="language_anchor">JP<span class="blind"> 일문사이트</span></a>
        </div>
        <div class="quality_certification">
          <h2 class="blind">QUALITY CERTIFICATION</h2>
          <ul>
            <li>
              <a href="#"><img src="../../assets/img/common/img_logo_ccm.png" alt="소비자중심경영 CCM"></a>
            </li>
            <li>
              <a href="#"><img src="../../assets/img/common/img_logo_eprivacy.png" alt="ePRIVACY 개인정보보호우수웹사이트"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
</footer>








<div class="dimmedLayer" ></div>