<header class="header">
  <div class="inner">
    <h1 class="logo"><a href="../pages/main.html"><img src="../../assets/img/common/logo_tb.svg" alt="대림미술관"><span class="he">대림미술관</span></a></h1>


  @@include("../partials/menu.html")

  <div class="btnUtil">
    <button type="button" class="btnSearchOpen" aria-label="검색열기">
      <i class="icon btnsearch"></i>
    </button>
    <button type="button" class="btnMobOpen" aria-label="메뉴열기">
      <i class="icon btnmenu"></i>
    </button>
  </div>

  
  <div class="totalSearchWrap">
    <form id="totalSearchForm" name="totalSearchForm" method="post">
      <div class="inner">
        <div class="searchLayer">
          <input type="text" class="input" placeholder="검색어를 입력하세요." id="q" name="q" autocomplete="off" title="검색어 입력">
          <button type="submit" class="btn">검색</button>
          <button type="button" aria-label="검색닫기"><i class="icon btnsearchclose"></i></button>
        </div>
      </div>
    </form>
  </div>

</div>
</header>
