<header class="header main-tool-bar">
  <div class="inner">

  @@include("../partials/menu.html")




</div>
</header>
  
<div class="totalSearchWrap">
  <form id="totalSearchForm" name="totalSearchForm" method="post">
    <div class="inner">
      <div class="searchLayer">
        <div class="searchLayer-select">
          <span class="form select module-b style-a type-line outline-f12x normal-05">
            <select class="form-elem">
                <option>1st option</option>
                <option>2nd option</option>
                <option>3rd option</option>
                <option>4th option</option>
                <option>5th option</option>
            </select>
          </span>
        </div>
        <div class="searchLayer-textfield">
          <span class="form textfield module-b style-a type-line normal-05 outline-f12x">
            <input class="form-elem" type="search" placeholder="Placeholder" value="outline-f12x">
            <span class="form-util">
                <button class="form-btn-search" type="submit"><span class="btn-text">검색</span></button>
            </span>
          </span>
        </div>
        <div class="keyword">
          <dl>
            <dt>인기검색어</dt>
            <dd id="popular_searches">
            <ul id="hotKeyword" class="list"><li><a href="/newPortal/search/search.do?code=&amp;searchWord=어그">어그</a></li><li><a href="/newPortal/search/search.do?code=&amp;searchWord=폴로">폴로</a></li><li><a href="/newPortal/search/search.do?code=&amp;searchWord=노스페이스">노스페이스</a></li><li><a href="/newPortal/search/search.do?code=&amp;searchWord=나이키">나이키</a></li><li><a href="/newPortal/search/search.do?code=&amp;searchWord=주차">주차</a></li></ul></dd>
          </dl>
        </div>
        <button type="button" class="btn style-a type-none normal-01 btnsearchclose ico_btnClosed_w" aria-label="검색닫기"></button>
      </div>
    </div>
  </form>
</div>