<nav class="skip">
  <a href="#contents">본문 바로가기</a>
</nav>
<header class="header main-tool-bar">
  <div class="inner">

  @@include("../partials/menu.html")
  </div>
</header>
  
<div class="totalSearchWrap">
  <form id="totalSearchForm" name="totalSearchForm" method="post">
    <div class="inner">
      <div class="searchLayer">
        <div class="searchLayer-select">
          <span class="form select module-b style-a type-line outline-f12x normal-05">
            <select class="form-elem">
                <option>전체지점</option>
                <option>더현대 서울점</option>
                <option>더현대 대구점</option>
                <option>압구정본점</option>
                <option>무역센터점</option>
            </select>
          </span>
        </div>
        <div class="searchLayer-textfield">
          <span class="form textfield module-b style-a type-line normal-05 outline-f12x">
            <input class="form-elem" type="search" placeholder="검색어 입력">
            <span class="form-util">
                <button class="form-btn-search" type="submit"><span class="btn-text">검색</span></button>
            </span>
          </span>
        </div>
        <div class="keyword">
          <dl>
            <dt class="outline-10x font-weight-800">인기검색어</dt>
            <dd id="popular_searches">
            <ul id="hotKeyword" class="list outline-6x font-weight-700"><li><a href="#">어그</a></li><li><a href="#">폴로</a></li><li><a href="#">노스페이스</a></li><li><a href="#">나이키</a></li><li><a href="#">주차</a></li></ul></dd>
          </dl>
        </div>
        <button type="button" class="btn style-a type-none normal-01 btnsearchclose ico_btnClosed_b" aria-label="검색닫기" role="button"></button>
      </div>
    </div>
  </form>
</div>