.frm__search{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #f8f8f8;
	padding: 17px;
	margin-bottom: 15px;
}
.list_total{
	color: #444;
	b{
		color: #264998;
	}
}

.bo_l_btn{
	text-align: center;
	padding-top: 35px;
}


// 기본 게시판 상세
.bo_v{
	border-top: 1px solid #000;
	&_head{
		padding: 24px;
	}
	&_title{
		
		display: flex;
		align-items: center;
		span{
			display: inline-block;
			border-radius: 3px;
			margin-right: 8px;
			background-color: #212e4e;
			color: #fff;height: 28px;line-height: 28px;width: 40px;
			text-align: center;font-weight: 700;font-size: 13px;
		}
		h2{
			color: #333333;
			font-weight: 400;
			font-size: 18px;
		}
	}
	&_info{
		padding-top: 15px;
		display: flex;
		dl{
			+dl{
				margin-left: 24px;
			}
			display: flex;
			dt,dd{font-size: 14px;color: #666;}
			dt{margin-right: 10px;font-weight: 700;}
			dd{}
		}
	}
	&_file{
		background-color: #fafafa;
		padding: 15px 24px;
		display: flex;
		font-size: 14px;
		color: #666666;
		border-top: 1px solid #e1e1e1;
		ul{
			padding-left: 10px;
			li{
				background: url("../img/common/file-icon-2.png") no-repeat 0 0px;
				line-height: 12px;height: 12px;
				padding-left: 20px;
				+li{
					margin-top: 8px;
				}
				a{color: #666;
					&:hover{
						color: #212e4e;
						text-decoration: underline;
					}
				}
			}
		}
	}
	&_content{
		border: 1px solid #e1e1e1;
		border-left: 0;
		border-right: 0;
		padding: 24px;
	}
	&_btn{
		text-align: right;padding-top: 20px;
		font-size: 0;
		.btn+.btn{margin-left:10px;}
	}
}

// 기본 게시판 상세-2
.bo_v{
	&_ease{
		margin-top: 15px;
		border-top: 1px solid #000;
		li{
			position: relative;
			padding-left: 124px;
			border-bottom: 1px solid #e1e1e1;
		}
		span{
			position: absolute;
			left: 23px;
			top: 50%;
			background-repeat: no-repeat;
			background-position: 100% 50%;
			padding-right: 26px;
			transform: translateY(-50%);
		}
		a{
			line-height: 48px;
			height: 48px;
			display: inline-block;
			color: #666666;
			font-size: 14px;
		}
		.prev{
			span{
				background-image: url("../img/common/ease-arrw.png");
			}
		}
		.next{
			span{
				background-image: url("../img/common/ease-arrw-2.png");
			}
		}
	}
	&_content{
		line-height: 1.46;
	}
	&_list{
		text-align: center;
		padding-top: 35px;
	}
}

// 기본게시판 글쓰기
.bo_w{
	&_required{
		color: #666;
		font-size: 14px;
		margin-bottom: 15px;
		em{font-style: normal;color: #e75e5e;}
	}
	&_btn{
		text-align: center;
		padding-top: 36px;font-size: 0;
		.btn+.btn{
			margin-left: 16px;
		}
	}
}

// 갤러리 목록
.board__gall{}
.gall_li{
	.thumb{
		a{
			display: block;
			position: relative;
			height: 160px;
			background-color: #f8f8f8;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-image: url("../img/common/no_image.png");
			&:after{
				content:"";
				transition: all 0.15s;
				position: absolute;left: 0;top: 0;right: 0;bottom: 0;border: 6px solid #f8f8f8;
			}
		}
	}
	.caption{
		height: 96px;
		padding-top: 15px;
		.subject{
			color: #333333;
			padding-bottom: 8px;
			font-size: 14px;
			a{
				display: inline-block;
				width: 100%;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
		.date{
			color: #999999;
		}
	}
	&:hover{
		.thumb{
			a{
				&:after{
					opacity: 1;
					border-color: #264998;
				}
			}
		}
	}
}