
.btn{
	display: inline-block;
	vertical-align: top;
	padding: 9px 16px;
	font-size: 14px;
	border: 1px solid #999999;
	color: #666;
	line-height: 1;
	transition: all 0.1s;
	border-radius: 24px;
	&.active,
	&:hover,
	&:focus{
		border: 1px solid #000;
		background-color: #f8f8f8;
	}
	&:disabled{opacity: 0.4;}
}

.btn-block{display: block;width: 100%;}

.btn-xl{font-size: 16px;padding: 13px 24px;}
.btn-l{font-size: 16px;padding: 11px 24px;}
.btn-s{font-size: 13px;padding: 7px 24px;}
.btn-xs{font-size: 13px;padding: 5px 24px;}



.btn.btn-solid{
	background-color: #264998;
	color: #fff;
	border-color: #264998;
	&.active,
	&:hover,
	&:focus{
		background-color: #1e3978;
		border-color: #1e3978;
	}
}


.btn.btn-navy{
	background-color: #212e4e;
	border-color: #212e4e;
	color: #fff;
}
.btn.btn-gray{
	background-color: #8d9096;
	border-color: #8d9096;
	color: #fff;
}