.btn{
	$accent: (
		'normal-01': (
			'none': (
				'color':			var(--color-base-13),
				'border-color':		transparent,
				'background-color':	transparent,
			),
			'fill': (
				'color':			var(--color-base-01),
				'border-color':		var(--color-base-13),
				'background-color':	var(--color-base-13),
			),
			'line': (
				'color':			var(--color-base-13),
				'border-color':		var(--color-base-13),
				'background-color':	var(--color-base-01),
			),
		),
		'normal-02': (
			'none': (
				'color':			var(--color-base-11),
				'border-color':		transparent,
				'background-color':	transparent,
			),
			'fill': (
				'color':			var(--color-base-01),
				'border-color':		var(--color-base-11),
				'background-color':	var(--color-base-11),
			),
			'line': (
				'color':			var(--color-base-11),
				'border-color':		var(--color-base-11),
				'background-color':	var(--color-base-01),
			),
		),
		'normal-03': (
			'none': (
				'color':			var(--color-base-08),
				'border-color':		transparent,
				'background-color':	transparent,
			),
			'fill': (
				'color':			var(--color-base-01),
				'border-color':		var(--color-base-08),
				'background-color':	var(--color-base-08),
			),
			'line': (
				'color':			var(--color-base-11),
				'border-color':		var(--color-base-08),
				'background-color':	var(--color-base-01),
			),
		),
		'normal-04': (
			'none': (
				'color':			var(--color-base-06),
				'border-color':		transparent,
				'background-color':	transparent,
			),
			'fill': (
				'color':			var(--color-base-01),
				'border-color':		var(--color-base-06),
				'background-color':	var(--color-base-06),
			),
			'line': (
				'color':			var(--color-base-11),
				'border-color':		var(--color-base-06),
				'background-color':	var(--color-base-01),
			),
		),
		'normal-05': (
			'none': (
				'color':			var(--color-base-01),
				'border-color':		transparent,
				'background-color':	transparent,
			),
			'fill': (
				'color':			var(--color-base-13),
				'border-color':		var(--color-base-01),
				'background-color':	var(--color-base-01),
			),
			'line': (
				'color':			var(--color-base-01),
				'border-color':		var(--color-base-01),
				'background-color':	var(--color-base-13),
			),
		),
		'accent-01': (
			'none': (
				'color':			var(--color-secondary-01),
				'border-color':		transparent,
				'background-color':	transparent,
			),
			'fill': (
				'color':			var(--color-base-01),
				'border-color':		var(--color-secondary-01),
				'background-color':	var(--color-secondary-01),
			),
			'line': (
				'color':			var(--color-secondary-01),
				'border-color':		var(--color-secondary-01),
				'background-color':	var(--color-base-01),
			),
		),
		'accent-02': (
			'none': (
				'color':			var(--color-secondary-07),
				'border-color':		transparent,
				'background-color':	transparent,
			),
			'fill': (
				'color':			var(--color-base-01),
				'border-color':		var(--color-secondary-07),
				'background-color':	var(--color-secondary-07),
			),
			'line': (
				'color':			var(--color-secondary-07),
				'border-color':		var(--color-secondary-07),
				'background-color':	var(--color-base-01),
			),
		),
		'accent-03': (
			'none': (
				'color':			var(--color-secondary-09),
				'border-color':		transparent,
				'background-color':	transparent,
			),
			'fill': (
				'color':			var(--color-base-01),
				'border-color':		var(--color-secondary-09),
				'background-color':	var(--color-secondary-09),
			),
			'line': (
				'color':			var(--color-secondary-09),
				'border-color':		var(--color-secondary-09),
				'background-color':	var(--color-base-01),
			),
		)
	);

	$outline-b: (
		6: (
			'font-weight': 400,
		),
		8: (
			'font-weight': 400,
		),
		10: (
			'font-weight': 400,
		),
		12: (
			'font-weight': 400,
		),
		14: (
			'font-weight': 400,
		),
		16: (
			'font-weight': 400,
		),
	);

	// accent
	@each $accent-name in $accent {
		&.#{nth($accent-name, 1)} {
			@each $type-name, $color, $border-color, $background-color in map-get($accent, nth($accent-name, 1)) {
				// @debug "divider offset: #{nth($type-name, 1)}";
				&.type-#{nth($type-name, 1)} {
					// variables
					@each $variables in map-get($accent, nth($accent-name, 1), nth($type-name, 1)) {
						--#{nth($variables, 1)}: #{nth($variables, 2)};
					}
				}
			}
		}
	}

	// @each $name in $outline-b {
	// 	// @debug "divider offset: #{nth($name, 1) * $BASELINE}";
	// 	&.outline-b#{nth($name, 1)}x {
	// 		--height: #{nth($name, 1) * $gutter-1};
	// 		--line-height: #{nth($name, 1) * $gutter-1 * 0.5};
	// 	}
	// }

	@each $i, $name in $outline-b {
		$gutter-value: map-get($gutters, $i); // $gutters 맵에서 해당하는 값 가져오기
		&.outline-b#{$i}x {
			@include set-vw(--line-height,$gutter-value);
			@include set-vw(--height,$gutter-value);
		}
	}

	display: inline-flex;
	align-items: center;
	justify-content: center;
	column-gap: calc((var(--line-height) / 1.5) * 1.25);
	padding-right: calc(var(--height) / 2.4 - 4px);
	padding-left: calc(var(--height) / 2.4 - 4px);
	height: var(--height);
	box-sizing: border-box;
	border-style: solid;
	@include set-vw(border-width, 1px);
	line-height:  calc((var(--line-height) / 1.5));
	font-size: calc(var(--line-height) / 3);
	color: var(--color);
	border-color: var(--border-color);
	background-color: var(--background-color);
	

	&.style-b {
		border-radius: calc(var(--height) / 6.4);
	}

	&.style-c {
		border-radius: calc(var(--height) / 2);
	}
	
	&:where(:disabled, .disabled) {
		color: var(--color-base-01);
		border-color: var(--color-base-06);
		background-color: var(--color-base-06);
	}

	.btn-text {
		display: flex;
		align-items: center;
		justify-content: center;
		white-space: nowrap;
		text-align: center;
	}

	& {
		// 'ico_'로 시작하는 모든 클래스에 기본 스타일 적용
		&[class*="ico_"]::after {
			content: "";
			mask-repeat: no-repeat;
			mask-position: center center;
			mask-size: 100% auto;
		}
		&.ico_arrow_right_w::after{
			@include set-vw(width, 24px);
			@include set-vw(height, 24px);
			mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='rgb(0, 0, 0)' d='M12.3129 6.37397C12.6058 6.08107 13.0807 6.08107 13.3736 6.37397L18.5 11.5004L13.3735 16.6269C13.0806 16.9198 12.6057 16.9198 12.3128 16.6269C12.0199 16.334 12.0199 15.8591 12.3128 15.5662L15.6287 12.2504H6.25C5.83579 12.2504 5.5 11.9146 5.5 11.5004C5.5 11.0862 5.83579 10.7504 6.25 10.7504H15.6287L12.3129 7.43463C12.02 7.14173 12.02 6.66686 12.3129 6.37397Z'/></svg>");
			background-color:  var(--color-base-01);
		}
		&.ico_arrow_right_b::after{
			@include set-vw(width, 24px);
			@include set-vw(height, 24px);
			mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='rgb(0, 0, 0)' d='M12.3129 6.37397C12.6058 6.08107 13.0807 6.08107 13.3736 6.37397L18.5 11.5004L13.3735 16.6269C13.0806 16.9198 12.6057 16.9198 12.3128 16.6269C12.0199 16.334 12.0199 15.8591 12.3128 15.5662L15.6287 12.2504H6.25C5.83579 12.2504 5.5 11.9146 5.5 11.5004C5.5 11.0862 5.83579 10.7504 6.25 10.7504H15.6287L12.3129 7.43463C12.02 7.14173 12.02 6.66686 12.3129 6.37397Z'/></svg>");
			background-color:  var(--color-base-13);
		}
		&.ico_arrowl_right_b::after{
			@include set-vw(width, 40px);
			@include set-vw(height, 20px);
			mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='74.947' height='13.951' viewBox='0 0 74.947 13.951'%3E%3Cg id='그룹_132771' data-name='그룹 132771' transform='translate(-636.002 -1104.028)'%3E%3Cg id='그룹_132772' data-name='그룹 132772' transform='translate(-3 -2)'%3E%3Cpath id='패스_66624' data-name='패스 66624' d='M808.158,1240.333a.9.9,0,0,1-.659-.287l-3.8-4.083-1.95-2.1a.9.9,0,0,1,.011-1.237l5.747-5.971a.9.9,0,1,1,1.3,1.248l-5.156,5.358,1.37,1.473,3.8,4.083a.9.9,0,0,1-.659,1.513Z' transform='translate(1515.46 2346.36) rotate(180)'/%3E%3C/g%3E%3Crect id='사각형_24596' data-name='사각형 24596' width='74' height='1' transform='translate(636.002 1110.503)'/%3E%3C/g%3E%3C/svg%3E%0A");
			background-color:  var(--color-base-13);
		}
		&.ico_searchopen_w::after{
			@include set-vw(width, 24px);
			@include set-vw(height, 24px);
			mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25.561' height='25.561' viewBox='0 0 25.561 25.561'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23fff; %7D %3C/style%3E%3C/defs%3E%3Cg id='그룹_132772' data-name='그룹 132772' transform='translate(-2587 -686)'%3E%3Cpath id='패스_66626' data-name='패스 66626' class='cls-1' d='M11.105,3a8.105,8.105,0,1,0,8.105,8.105A8.114,8.114,0,0,0,11.105,3m0-3A11.105,11.105,0,1,1,0,11.105,11.105,11.105,0,0,1,11.105,0Z' transform='translate(2587 686)'/%3E%3Cpath id='선_1' data-name='선 1' class='cls-1' d='M5.939,8.061l-7-7L1.061-1.061l7,7Z' transform='translate(2604.5 703.5)'/%3E%3C/g%3E%3C/svg%3E%0A");
			background-color:  var(--color-base-01);
		}
		&.ico_searchopen_b::after{
			@include set-vw(width, 24px);
			@include set-vw(height, 24px);
			mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25.561' height='25.561' viewBox='0 0 25.561 25.561'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23fff; %7D %3C/style%3E%3C/defs%3E%3Cg id='그룹_132772' data-name='그룹 132772' transform='translate(-2587 -686)'%3E%3Cpath id='패스_66626' data-name='패스 66626' class='cls-1' d='M11.105,3a8.105,8.105,0,1,0,8.105,8.105A8.114,8.114,0,0,0,11.105,3m0-3A11.105,11.105,0,1,1,0,11.105,11.105,11.105,0,0,1,11.105,0Z' transform='translate(2587 686)'/%3E%3Cpath id='선_1' data-name='선 1' class='cls-1' d='M5.939,8.061l-7-7L1.061-1.061l7,7Z' transform='translate(2604.5 703.5)'/%3E%3C/g%3E%3C/svg%3E%0A");
			background-color:  var(--color-base-13);
		}
		&.ico_btnMobOpen_w::after{
			@include set-vw(width, 24px);
			@include set-vw(height, 24px);
			mask-image: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20.0781 6H4.07812V8H18.0781L20.0781 6Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.0761 11H4.07812V13H14.5761L16.0761 11Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20.0781 16H4.07812V18H18.0781L20.0781 16Z' fill='white'/%3E%3C/svg%3E%0A");
  			background-color:  var(--color-base-01);
		}
		&.ico_btnClosed_w::after{
			@include set-vw(width, 24px);
			@include set-vw(height, 24px);
			mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='47.536' height='47.536' viewBox='0 0 47.536 47.536'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23fff; %7D %3C/style%3E%3C/defs%3E%3Cg id='그룹_1' data-name='그룹 1' transform='translate(-1089.732 -1144.732)'%3E%3Cpath id='선_1' data-name='선 1' class='cls-1' d='M42.232,45.768l-44-44L1.768-1.768l44,44Z' transform='translate(1091.5 1146.5)'/%3E%3Cpath id='선_2' data-name='선 2' class='cls-1' d='M1.768,45.768l-3.536-3.536,44-44,3.536,3.536Z' transform='translate(1091.5 1146.5)'/%3E%3C/g%3E%3C/svg%3E%0A");
  			background-color:  var(--color-base-01);
		}
		&.ico_btnHome_w::after{
			@include set-vw(width, 24px);
			@include set-vw(height, 24px);
			mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='57.743' height='62.621' viewBox='0 0 57.743 62.621'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23fff; %7D %3C/style%3E%3C/defs%3E%3Cg id='그룹_1' data-name='그룹 1' transform='translate(-1758.379 265.121)'%3E%3Cpath id='패스_1' data-name='패스 1' class='cls-1' d='M2.121,31.121l-4.243-4.243,29-29,4.243,4.243Z' transform='translate(1760.5 -263)'/%3E%3Cpath id='패스_2' data-name='패스 2' class='cls-1' d='M26.379,30.621l-28.5-28.5L2.121-2.121l28.5,28.5Z' transform='translate(1785.5 -263)'/%3E%3Cpath id='선_2' data-name='선 2' class='cls-1' d='M3,40H-3V0H3Z' transform='translate(1768.5 -242.5)'/%3E%3Cpath id='선_3' data-name='선 3' class='cls-1' d='M3,40H-3V0H3Z' transform='translate(1805.5 -242.5)'/%3E%3Cpath id='선_4' data-name='선 4' class='cls-1' d='M37,3H0V-3H37Z' transform='translate(1768.5 -205.5)'/%3E%3C/g%3E%3C/svg%3E%0A");
  			background-color:  var(--color-base-01);
		}
	}
}