// @for $i from 1 to 4{
// .brand-color-#{$i}{background-color: nth($brandColor,$i);}
// }

// .bg-success{background-color: #3bb878;}
// .bg-danger{background-color: #e75e5e;}
// .bg-info{background-color: #8d9096;}