
.faq{
	border-top: 1px solid #333333;
	&__li{
		&:hover,
		&.active{
			.faq__subject{
				background-color: #f8f8f8;
				&:after{
					background-color: #264998;
					color: #fff;
				}
				
			}
		}	
		&.active{
			.faq__subject{
				&:before{
					transform: rotate(45deg) translateY(-50%);
				}
			}
		}
	}
	&__subject{
		position: relative;
		display: flex;
		padding: 18px;
		padding-left: 60px;
		align-items: center;
		border-bottom: 1px solid #e1e1e1;
		cursor: pointer;transition: all 0.15s;
		&:after{
			content:"Q";display: block;
			position: absolute;left: 25px;top: 10px;border-radius: 50%;
			text-align: center;line-height: 28px;height: 28px;width: 28px;
			background-color: #f1f1f1;
			color: #333333;
			font-weight: 500;transition: all 0.15s;
		}
		&:before{
			content:"";
			display: block;transition: all 0.15s;
			position: absolute;right: 25px;top: 50%;transform: rotate(0deg) translateY(-50%);
			width: 16px;height: 16px;
			background: url("../img/common/faq-off.png") no-repeat 50% 50%;
	
		}
	}
	&__cont{
		position: relative;
		display: none;
		padding: 38px 60px;background-color: #f8f8f8;border-bottom: 1px solid #e1e1e1;
		.txt{
			color: #666;
			font-size: 14px;
			line-height: 1.34;
		}
		&:after{
			content:"A.";display: block;
			position: absolute;left: 31px;top: 40px;
			color: #264a98;
			font-weight: 700;
			font-size: 14px;

		}
	}

}