
ul.goods-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.goods-display.module-a {
	--column-count: 1;
	--width: calc((100% / var(--column-count)) - (var(--column-gap) * (var(--column-count) - 1) / var(--column-count)));
	--padding: 32px 16px 32px 0;
	--column-gap: 0;
	--row-gap: var(--column-gap);
	--height: auto;

	--tags-padding: 0 8px;
	--tags-height: 20px;
	--tags-line-height: 16px;
	--tags-color: var(--color-base-01);
	--tags-border-radius: 16px 16px 0 16px;

	--subject-line-height: 24px;
	--subject-color: var(--color-base-12);
	--infoset-line-height: 20px;
	--infoset-color: var(--color-base-08);
	.goods-list {
		.goods-item {
			position: relative;
			.goods-title{
				.sub-text01{
					display: block;
    				text-align: end;
					font-size: 100px;
					font-weight: 900;
					margin-bottom: 14px;
					color: #FFFFFF;
					letter-spacing: -0.25px;
					text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
					@include tablet{
						margin-bottom: 0;
						font-size: 90px;
					}
				}
				.sub-text02{
					display: block;
					background-color: #FFFFFF;
					font-size: 35px;
					font-weight: 900;
					color: #171A19;
					line-height: 1.3;
					letter-spacing: -0.25px;
					text-align: end;
					position: absolute;
					right: 0px;
					top: 141px;
					@include tablet{
						position: initial;    
						font-size: 28px;
					}
				}
			}
			.goods-wrap {
				display: flex;
				box-sizing: border-box;    
				justify-content: center;
				gap: 0 20px;
				@include tablet{
					display: flex;
    				box-sizing: border-box;
    				flex-direction: column;
				  }
				.goods-figure {
					width: 60%;
					position: relative;
					@include tablet{
						width: 100%;
					  }
					.goods-cover {
						.goods-thumbnail {
							width: 100%;
							img {
								display: block;
								object-fit: cover;
								width: 100%;
								@include set-vw(height,200px);
								&::before{
									content: "";
									position: absolute;
									top: 0;
									left: 0;
									bottom: 0;
									right: 0;
									width: 50%;
									visibility: visible;
									opacity: 1;
									background: linear-gradient(168.48deg, rgba(0, 0, 0, 0) 11.61%, rgba(0, 0, 0, 0.5) 85.71%);
								}
							}
						}
					}
					.goods-flag{
						position: absolute;
						right: 0;
						bottom: 0;
					}
				}

				.goods-inform {
					width: 40%;
					display: flex;
					flex-direction: column;
					justify-content: center;
					border-top: 1px solid var(--color-base-12);
					padding: 24px 0px;
					@include tablet{
						width: 100%;
						border-top: 0px solid var(--color-base-12);
					  }
					.goods-tags {
						.data-list {
							display: flex;
							flex-wrap: wrap;
							gap: 4px;

							.data-item {
								display: flex;
								flex-shrink: 0;
								align-items: center;
								padding: var(--tags-padding);
								box-sizing: border-box;
								font-weight: 500;
								&.dot::before{
									width: 4px;
									height: 4px;
									background-color: #434545;
									content: "";
									position: relative;
									top: -1px;
									right: 5px;
									transform: rotate(45deg);
									border-radius: 100%;
								}
							}
						}	
					}

					.goods-head {
						display: flex;
						flex-direction: column;
						.goods-subject {

							.goods-name {
								display: block;
							}
						}

						.goods-infoset {

							.data-list {
								.data-item {
									.head {
										@include hidden;
									}
								}
							}
						}
					}

					.goods-data {
						display: flex;
						justify-content: space-around;
						@include set-vw(gap,5px);
						@include tablet{
							border-top: 1px solid #ddd;
							border-bottom: 1px solid #ddd;
							padding: 13px 0px;
						}
						a:nth-child(4){
							display: none;
							@include tablet{
								display: block;
							}
						}
						.mark{
							display: flex;
    						align-items: center;    flex-direction: column;
							&.ico_floor::before{
								background-image: url('../../img/main/ico_floor_32.png');
							}
							&.ico_food::before{
									background-image: url('../../img/main/ico_food_32.png');
							}
							&.ico_parking::before{
									background-image: url('../../img/main/ico_parking_32.png');
							}
							&.ico_shopping::before{
									background-image: url('../../img/main/ico_shopping_32.png');
							}
							&::before{
								content: "";
								display: block;
								position: relative;
								left: 0;
								top: 0;
								width: 25px;
								height: 25px;
								background-size: cover;
								
								
							}
						}
					}
				}
			}
		}
	}
}

.goods-display.module-b {
	--column-count: 1;
	--width: calc((100% / var(--column-count)) - (var(--column-gap) * (var(--column-count) - 1) / var(--column-count)));
	--padding: 32px 16px 32px 0;
	--column-gap: 0;
	--row-gap: var(--column-gap);
	--height: auto;

	--tags-padding: 0 8px;
	--tags-height: 20px;
	--tags-line-height: 16px;
	--tags-color: var(--color-base-01);
	--tags-border-radius: 16px 16px 0 16px;

	--subject-line-height: 24px;
	--subject-color: var(--color-base-12);
	--infoset-line-height: 20px;
	--infoset-color: var(--color-base-08);
	.goods-list {
		@include tablet{
			display: none;
		}
		.goods-item {
			position: relative;
			.goods-wrap {
				display: flex;
				box-sizing: border-box;
				gap: 0 20px;
				flex-direction: row-reverse;
				justify-content: space-between;
				@include tablet{
					display: flex;
    				box-sizing: border-box;
    				flex-direction: column;
				}
				.goods-figure {
					width: 60%;
					@include tablet{
						width: 100%;
					  }
					.goods-cover {
						.goods-thumbnail {
							display: flex;
							flex-direction: row;
							width: 100%;
							li{
								width: 33.33333%;
								img {
									display: block;
									object-fit: cover;
									width: 100%;
									@include set-vw(height,200px);
									&::before{
										content: "";
										position: absolute;
										top: 0;
										left: 0;
										bottom: 0;
										right: 0;
										width: 50%;
										visibility: visible;
										opacity: 1;
										background: linear-gradient(168.48deg, rgba(0, 0, 0, 0) 11.61%, rgba(0, 0, 0, 0.5) 85.71%);
									}
								}
							}
						}
					}
					.goods-flag{
						position: absolute;
						right: 0;
						bottom: 0;
					}
				}

				.goods-inform {
					display: flex;
					flex-direction: column;
					justify-content: flex-end;
					border-top: 1px solid var(--color-base-12);
					width: 40%;
					.goods-tags {

						.data-list {
							display: flex;
							justify-content: flex-end;
							gap: 4px;

							.data-item {
								display: flex;
								flex-shrink: 0;
								align-items: center;
								padding: var(--tags-padding);
								box-sizing: border-box;
								font-weight: 500;
								&.dot::before{
									width: 4px;
									height: 4px;
									background-color: #434545;
									content: "";
									position: relative;
									top: -1px;
									right: 5px;
									transform: rotate(45deg);
									border-radius: 100%;
								}
							}
						}	
					}

					.goods-head {
						display: flex;
						flex-direction: column;
						.goods-subject {

							.goods-name {
								display: block;
							}
						}

						.goods-infoset {

							.data-list {
								.data-item {
									.head {
										@include hidden;
									}
								}
							}
						}
					}

					.goods-data {
						display: flex;
						@include set-vw(gap,10px);
						justify-content: flex-end;
					}
				}
			}
		}
	}
}

.goods-swiper.module-a{
	display: flex;
	@include tablet{
		flex-direction: column;
	}
	.swiper-container{
		flex: 1 1 100%;
		overflow: hidden;
		position: relative;
		.swiper-wrapper{
			.swiper-inform{
				position: absolute;
				left: 3vw;
    			bottom: 11%;
				.subtitle{
					@include set-vw(font-size, calc($gutter-8/1.5));
					@include set-vw(line-height,calc($gutter-8/1.2));
					color: var(--color-base-01);
					font-weight: 400;
					@include set-vw(margin-bottom,$gutter-3);
				}
				.title{
					@include set-vw(font-size, calc($gutter-15/1.5));
					@include set-vw(line-height,calc($gutter-15/1.2));
					color: var(--color-base-01);
					font-weight: 500;
					@include set-vw(margin-bottom,$gutter-2);
				}
			}
		}
		.swiper-nav{
			display: flex;
			position: absolute;
			bottom: 40px;
			left: 5%;
			width: 90%;
		}
		.swiper-pagination-horizontal{
			width: 80%;
		}
		.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
			background-color: #fff;
		}

		.swiper-button-next{
			scale: 0.4;
			color: #fff;
			left: 88%;
		}
		.swiper-button-prev{
			scale: 0.4;
			color: #fff;
			left: 82%;
		}
		.swiper-button-auto-play {
			background-image: url('../../img/common/ico_play_white.png');
		}
		
		div[class|=swiper-button-auto] {
			width: 25px;
			height: 32px;
			background-size: cover;
			background-repeat: no-repeat;
			z-index: 1;
			position: absolute;
			bottom: -15px;
			left: 93%;
		}
		
		.swiper-button-auto-stop {
			background-image: url('../../img/common/ico_pause_white.png');
		}
		
		&.auto-play .swiper-button-auto-play {
			display: none;
		}
		
		&:not(.auto-play) .swiper-button-auto-stop {
			display: none;
		}
	}
	.swiper-sidecont{
		flex: 1 1 0%;
		overflow: hidden;
		img{
			@include img;
		}
	}
}

.goods-swiper.module-b{
	position: relative;
	width: 90%;
	margin: 0 auto; 
	.swiper-title{
		display: flex;
		gap: 16px;
		@include tablet{
			flex-direction: column;
		}
	}
	.swiper-container{
		flex: 1 1 100%;
		position: relative;
		.swiper-wrapper{
			.swiper-inform{
				position: absolute;
				left: 1vw;
    			bottom: 4%;
				.title{
					@include set-vw(font-size, calc($gutter-8/1.5));
					@include set-vw(line-height,calc($gutter-8/1.2));
					color: var(--color-base-01);
					font-weight: 500;
					@include set-vw(margin-bottom,$gutter-2);
				}
				.caption{
					@include set-vw(font-size, calc($gutter-5/1.5));
					@include set-vw(line-height,calc($gutter-5/1.2));
					color: var(--color-base-01);
					font-weight: 400;
					@include set-vw(margin-bottom,$gutter-2);
				}
			}
		}
	}
	.swiper-nav{
		position: absolute;
		right: 24px;
		top: -44px;
		width: 35px;
		@include tablet{
			top: -8vw;
		}
		.swiper-button-next{
			position: absolute;
			left: 108%;
			scale: 0.5;
			color: #000000;
			@include tablet{
				scale: 0.3;
			}
		}
		.swiper-button-prev{
			position: absolute;
			right: 28%;
			scale: 0.5;
			color: #000000;
			@include tablet{
				scale: 0.3;
			}
		}
	}
}

.goods-swiper.module-c{
	overflow: hidden;
    // margin: 0 0 0 8vw;
    transition: all .5s;
	.swiper-container{
		flex: 1 1 100%;
		position: relative;   
		.swiper-wrapper{
			.swiper-inform{
				.subtitle{
					@include set-vw(font-size, calc($gutter-6/1.5));
					@include set-vw(line-height,calc($gutter-6/1.2));
					color: var(--color-base-13);
					font-weight: 400;
					@include set-vw(margin-bottom,$gutter-5);
				}
				.title{
					@include set-vw(font-size, calc($gutter-8/1.5));
					@include set-vw(line-height,calc($gutter-8/1.2));
					color: var(--color-base-13);
					font-weight: 500;
					@include set-vw(margin-bottom,$gutter-2);
				}
				.caption{
					@include set-vw(font-size, calc($gutter-5/1.5));
					@include set-vw(line-height,calc($gutter-5/1.2));
					color: var(--color-base-10);
					font-weight: 400;
					@include set-vw(margin-bottom,$gutter-2);
				}
			}
		}
		.swiper-pagination-horizontal{
			top: 99%;
			width: 100%;
			left: 0;
			display: none;
			@include tablet{
				display: block;
			}
		}
		.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
			background-color: #000;
		}

		.swiper-nav{
			position: absolute;
			right: 24px;
			top: -31px;
			width: 35px;
			@include tablet{
				top: -53px;
			}
			.swiper-button-next{
				position: absolute;
				left: 108%;
				scale: 0.5;
				color: #000000;
				@include tablet{
					scale: 0.3;
				}
			}
			.swiper-button-prev{
				position: absolute;
				right: 28%;
				scale: 0.5;
				color: #000000;
				@include tablet{
					scale: 0.3;
				}
			}
		}
	}
}

.goods-swiper.module-d{
	display: flex;
	@include tablet{
		flex-direction: column;
	}
	.swiper-container{
		flex: 1 1 100%;
		overflow: hidden;
		position: relative;
		.swiper-wrapper{
			.swiper-inform{
				position: absolute;
				left: 3vw;
    			bottom: 11%;
			}
		}

		.swiper-nav{
			display: flex;
			position: absolute;
			bottom: 30px;
			left: 5%;
			width: 90%;
			visibility: hidden;
			@include tablet{
				visibility:visible;
			}
		}

		.swiper-button-next{
			scale: 0.4;
			color: #fff;
			left: 84%;
		}
		.swiper-button-prev{
			scale: 0.4;
			color: #fff;
			left: 75%;
		}
		.swiper-button-auto-play {
			background-image: url('../../img/common/ico_play_white.png');
		}
		
		div[class|=swiper-button-auto] {
			width: 25px;
			height: 32px;
			background-size: cover;
			background-repeat: no-repeat;
			z-index: 1;
			position: absolute;
			bottom: -15px;
			right: 0;
		}
		
		.swiper-button-auto-stop {
			background-image: url('../../img/common/ico_pause_white.png');
		}
		
		&.auto-play .swiper-button-auto-play {
			display: none;
		}
		
		&:not(.auto-play) .swiper-button-auto-stop {
			display: none;
		}
	}
}

.goods-swiper.module-e{
	overflow: hidden;
    // margin: 0 0 0 8vw;
    transition: all .5s;
	position: relative;
	.swiper-container{
		flex: 1 1 100%;
		position: relative;   
		width: 50%;
		// padding: 0px 7.5vw;
		.swiper-wrapper{
			transition-timing-function: linear;
			  .swiper-inform{
				position: absolute;
				left: 1vw;
    			bottom: 4%;
				.title{
					@include set-vw(font-size, calc($gutter-8/1.5));
					@include set-vw(line-height,calc($gutter-8/1.2));
					color: var(--color-base-01);
					font-weight: 500;
					@include set-vw(margin-bottom,$gutter-2);
				}
				.caption{
					@include set-vw(font-size, calc($gutter-5/1.5));
					@include set-vw(line-height,calc($gutter-5/1.2));
					color: var(--color-base-01);
					font-weight: 400;
					@include set-vw(margin-bottom,$gutter-2);
				}
			}
		}
	}
	// .swiper-title{    padding: 0 0 0 7vw;}
	.swiper-group{
		display: flex;
		float: right;
		gap: 1vw;
		height: 650px;
		width: 500px;
		@include tablet{flex-direction: column;height: 500px;}
		
	}
	
}
.marquee-wrap {
	overflow: hidden;
	display: block;
	white-space: nowrap;
	font-size: 240px;
	font-weight: 700;
	color: #FFFFFF;
	line-height: 2.3;
	letter-spacing: -0.25px;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	@include tablet{
		display: none;
	}
}

.module-f{
	position: relative;    overflow: hidden;
	.tab-display{
		position: absolute;
		left: 288px;
		top: 0;
		@include tablet{position: initial;}
	}
	.goods-swiper.module-f{
		.swiper-container{
			position: relative;  
			.swiper-wrapper{       
				max-height: 75vw;
				min-height: 33vw;
				.swiper-slide{ 
    				box-sizing: border-box; 
				 }
				.swiper-inform{
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					width: 100%;
					gap: 1vw;
					a{
						width: 47%;
						height: auto;
						display: block;
					}
				}
			}
	
			.swiper-nav{
				position: absolute;
				right: 24px;
				top: -31px;
				width: 35px;
				@include tablet{
					top: -53px;
				}
				.swiper-button-next{
					position: absolute;
					left: 108%;
					scale: 0.5;
					color: #000000;
					@include tablet{
						scale: 0.3;
					}
				}
				.swiper-button-prev{
					position: absolute;
					right: 28%;
					scale: 0.5;
					color: #000000;
					@include tablet{
						scale: 0.3;
					}
				}
			}
		}
		.swiper-title{    padding: 0 0 0 7vw;}
	}
}
