
.paging{
	text-align: center;
	font-size: 0;
	span{
		display: inline-block;
		vertical-align: top;
	}
	a{
		vertical-align: top;
		display: inline-block;
		text-align: center;
		width: 28px;height: 28px;line-height: 28px;
		transition: all 0.1s; 
		border-radius: 3px;
	}
	.fir,
	.end,
	.prev,
	.next{
		font-size: 0;
		&.disabled{
			color: #dddddd;
			cursor: default;
		}
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}

	.prev{
		background-image: url("../img/common/paging-prev.png");
		&:hover{
			background-image: url("../img/common/paging-prev-hover.png");
		}
	}
	.fir{
		background-image: url("../img/common/paging-fir.png");
		&:hover{
			background-image: url("../img/common/paging-fir-hover.png");
		}
	}
	.next{
		background-image: url("../img/common/paging-next.png");
		&:hover{
			background-image: url("../img/common/paging-next-hover.png");
		}
	}
	.end{
		background-image: url("../img/common/paging-end.png");
		&:hover{
			background-image: url("../img/common/paging-end-hover.png");
		}
	}
	.page{
		font-size: 13px;
		&.current,
		&:hover,
		&:focus{
			color: #333333;
			background-color: #e1e1e1;
			font-weight: 700;
		}
	}
}
