@use "sass:math"; // 다른 규칙보다 먼저 작성
.text-c{text-align: center;}
.text-l{text-align: left;}
.text-r{text-align: right;}
//$font-default: "Montserrat";
$font-size: 15px;
$font-color: #222;
$hover-color : #fc9a00;

$grid-width: 1120px;

$gutter-1 : 4px;
$gutter-2 : 8px;
$gutter-3 : 12px;
$gutter-4 : 16px;
$gutter-5 : 20px;
$gutter-6 : 24px;
$gutter-7 : 28px;
$gutter-8 : 32px;
$gutter-9 : 36px;
$gutter-10 : 40px;
$gutter-11 : 44px;
$gutter-12 : 48px;
$gutter-13 : 52px;
$gutter-14 : 56px;
$gutter-15 : 60px;
$gutter-16 : 64px;
$gutter-17 : 68px;
$gutter-18 : 72px;
$gutter-19 : 76px;
$gutter-20 : 80px;


/* 기준 화면 너비 */
$vw-viewport: 720;
@mixin SCREEN{ @media (max-width: #{$vw-viewport}px){ @content; } }

/* pixel을 vw로 변환해주는 함수 */
@function get-vw($px){
  $vw-context: $vw-viewport * 0.0065 * 1px;
  @return math.div($px, $vw-context) * 1vw;
}

/* 특정 CSS 속성을 픽셀 단위와 반응형 vw 단위로 설정하는 믹스인 */
@mixin set-vw($property, $value){
  @if type-of($value) == 'number' {
    @include SCREEN {
      #{$property}: get-vw($value);
    }
    #{$property}: $value;
  } @else if type-of($value) == 'string' and str-slice($value, 1, 2) == '--' {
    @include SCREEN {
      #{$property}: calc(#{$value} * 100vw / #{$vw-viewport});
    }
    #{$property}: $value;
  }
}

/* 특정 CSS 속성에 대해 수직(vertical) 및 수평(horizontal) 값을 설정하는 믹스인 */
@mixin set-pair-vw($property, $vertical, $horizontal){
  @if type-of($vertical) == 'number' and type-of($horizontal) == 'number' {
    @include SCREEN {
      #{$property}: get-vw($vertical) get-vw($horizontal);
    }
    #{$property}: $vertical $horizontal;
  } @else {
    @include SCREEN {
      #{$property}: calc(#{$vertical} * 100vw / #{$vw-viewport}) calc(#{$horizontal} * 100vw / #{$vw-viewport});
    }
    #{$property}: $vertical $horizontal;
  }
}

$gutters: (
  1: 4px,
  2: 8px,
  3: 12px,
  4: 16px,
  5: 20px,
  6: 24px,
  7: 28px,
  8: 32px,
  9: 36px,
  10: 40px,
  11: 44px,
  12: 48px,
  13: 52px,
  14: 56px,
  15: 60px,
  16: 64px,
  17: 68px,
  18: 72px,
  19: 76px,
  20: 80px,
  21: 84px,
  22: 88px,
  23: 92px,
  24: 96px,
  25: 100px
);

// $gutter-6: map-get($gutters, 6);

@for $i from 3 through 20 {
  $gutter-value: map-get($gutters, $i); // $gutters 맵에서 해당하는 값 가져오기
  .outline-#{$i}x {
    // @include set-vw(height,$gutter-value);
    @include set-vw(font-size, calc($gutter-value/ 1.5));
    @include set-vw(line-height, calc($gutter-value/ 1.2));
  }
}
@for $i from 1 through 25 {
  $gutter-value: map-get($gutters, $i); // $gutters 맵에서 해당하는 값 가져오기
  .mbt-#{$i}x {
    // @include set-vw(height,$gutter-value);
    @include set-vw(margin-bottom, $gutter-value/ 1.5);
  }
}

/*반응형 화면 크기*/
$mobile: 375px;
$tablet: 720px;
$desktop: 1200px;

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

/* 태블릿용 미디어 쿼리 */
@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

/* 데스크톱용 미디어 쿼리 */
@mixin desktop {
  @media (max-width: $desktop) {
    @content;
  }
}