<!DOCTYPE html>
<html lang="ko">

<head>
    @@include("../partials/meta.html")
</head>

<body>
    @@include("../partials/guide.head.html",{
        "menu": "UI Elements",
        "title": "Post"
    })
    <div id="guide" class="guide">
        <div class="layer">
            <div class="guide__title outline-12x">Post</div>
            <div class="guide__desc line outline-5x">
                여러 디자인과 텍스트로 활용되는 컴포넌트입니다.<br>
            </div>
            <div class="guide__content">
                <div class="guide__sample">                            
                    <div class="row margin-xs">
                        <div class="col-12">
                            @@for (var i = 0; i < 2; i++) {
                            <div class="posts-display module-a style-b type-a mbt-m">
                                <ul class="posts-list">
                                    <li class="posts-item" style="--background-image: url(../../../assets/img/main/img_about02.png);">
                                        <div class="posts-wrap  mbt-m">
                                            <div class="posts-inform">
                                                <div class="posts-type outline-8x">
                                                    <p class="data-list">
                                                        <span class="data-item"><span class="wbr">section</span> <span class="wbr"> 1.10.32.</span></span>
                                                    </p>
                                                </div>
                                                <div class="posts-head outline-8x">
                                                    <p class="posts-subject"><strong class="posts-name">What is Lorem Ipsum?</strong></p>
                                                </div>
                                                <div class="posts-body outline-6x">
                                                    <p class="para"><span class="wbr">Lorem Ipsum is </span> <span class="wbr">simply dummy text of the printing and typesetting industry.</span></p>
                                                </div>
                                                <div class="posts-data outline-5x">
                                                    <p class="data-list">
                                                        <span class="data-item source">
                                                            <span class="head">Donate: </span>
                                                            <span class="body">simply dummy</span>
                                                        </span>
                                                    </p>
                                                </div>
                                                <div class="posts-util">
                                                    <div class="button-display">
                                                        <span class="button-area">
                                                            <a class="btn style-a type-none normal-01 outline-b8x" href="#"><span class="btn-text">click here</span></a>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            }
                        </div>
                        <div class="col-12">
                            <div class="posts-display module-b style-c">
                                <ul class="posts-list">
                                    
                                    <li class="posts-item bui-dropdown-target" data-bui-dropdown="dropdowngroup">
                                        <div class="posts-wrap">
                                            <div class="posts-inform">
                                                <div class="posts-type">
                                                    <span class="mark module-b style-c type-line accent-01 outline-5x"><span class="mark-text">Lorem Ipsum</span></span>
                                                </div>
                                                <div class="posts-head"><p class="posts-subject"><span class="posts-name"><span class="em"><abbr title="Questions">Q</abbr>.</span>What is Lorem Ipsum?</span></p></div>
                                            <div class="posts-func"><button type="button" class="btn expand normal-01 type-none active" title="펼치기"><span class="btn-text">click here</span></button></div></div>
                                        </div>
                                        <div class="posts-side">
                                            <p class="para">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque provident enim doloremque corrupti, aperiam quia ratione voluptas assumenda sed eaque neque quo at ea delectus quod nulla unde saepe id.</p>
                                        </div>
                                    </li>
                                    
                                    <li class="posts-item bui-dropdown-target" data-bui-dropdown="dropdowngroup">
                                        <div class="posts-wrap">
                                            <div class="posts-inform">
                                                <div class="posts-type">
                                                    <span class="mark module-b style-c type-line accent-01 outline-5x"><span class="mark-text">Lorem Ipsum</span></span>
                                                </div>
                                                <div class="posts-head"><p class="posts-subject"><span class="posts-name"><span class="em"><abbr title="Questions">Q</abbr>.</span>Why do we use it?</span></p></div>
                                            <div class="posts-func"><button type="button" class="btn expand normal-01 type-none active" title="펼치기"><span class="btn-text">click here</span></button></div></div>
                                        </div>
                                        <div class="posts-side">
                                            <p class="para">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque provident enim doloremque corrupti, aperiam quia ratione voluptas assumenda sed eaque neque quo at ea delectus quod nulla unde saepe id.</p>
                                        </div>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="posts-display module-c">
                                <ul class="posts-list">
                                    
                                    @@for (var i = 0; i < 3; i++) {
                                    <li class="posts-item">
                                        <div class="posts-wrap">
                                            <div class="posts-inform">
                                                <div class="posts-head"><p class="posts-subject"><a class="posts-name" href="#"><strong class="em"><abbr title="Questions">Q</abbr>.</strong> Where does it come from?</a></p></div>
                                            </div>
                                        </div>
                                    </li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="post-display-group">
                                <div class="posts-display module-d style-b">
                                    <ul class="posts-list">
                                        <li class="posts-item" style="--background-image: url(../../../assets/img/main/main_ico_tohome.png);">
                                            <div class="posts-wrap">
                                                <div class="posts-inform mbt-1x">
                                                    <div class="posts-head outline-6x">
                                                        <p class="posts-subject"><strong class="posts-name">현대식품관 투홈</strong></p>
                                                    </div>
                                                    <div class="posts-data outline-5x">
                                                        <p class="data-list">
                                                            <span class="data-item source">
                                                                <span class="head">온라인에서 만나는 현대식품관</span>
                                                            </span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="posts-util">
                                                    <div class="button-display">
                                                        <span class="button-area">
                                                            <button type="button" class="btn style-a type-none normal-01 outline-b6x ico_arrowl_right_b"></button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        
                                    </ul>
                                </div>
                                <div class="posts-display module-d style-b">
                                    <ul class="posts-list">
                                        <li class="posts-item" style="--background-image: url(../../../assets/img/main/main_ico_thehyundai.png);">
                                            <div class="posts-wrap">
                                                <div class="posts-inform mbt-1x">
                                                    <div class="posts-head outline-6x">
                                                        <p class="posts-subject"><strong class="posts-name">더현대 닷컴</strong></p>
                                                    </div>
                                                    <div class="posts-data outline-5x">
                                                        <p class="data-list">
                                                            <span class="data-item source">
                                                                <span class="head">현대백화점 공식 온라인몰</span>
                                                            </span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="posts-util">
                                                    <div class="button-display">
                                                        <span class="button-area">
                                                            <button type="button" class="btn style-a type-none normal-01 outline-b6x ico_arrowl_right_b"></button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        
                                    </ul>
                                </div>
                                <div class="posts-display module-d style-b">
                                    <ul class="posts-list">
                                        <li class="posts-item" style="--background-image: url(../../../assets/img/main/main_ico_hmall.png);">
                                            <div class="posts-wrap">
                                                <div class="posts-inform mbt-1x">
                                                    <div class="posts-head outline-6x">
                                                        <p class="posts-subject"><strong class="posts-name">현대홈쇼핑 Hmall</strong></p>
                                                    </div>
                                                    <div class="posts-data outline-5x">
                                                        <p class="data-list">
                                                            <span class="data-item source">
                                                                <span class="head">백화점, 브랜드, 홈쇼핑을 한번에</span>
                                                            </span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="posts-util">
                                                    <div class="button-display">
                                                        <span class="button-area">
                                                            <button type="button" class="btn style-a type-none normal-01 outline-b6x ico_arrowl_right_b"></button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>            
                </div>
                
            </div>
        </div>
        
    </div>
    @@include("../partials/guide.tail.html")
</body>

</html>