
header.main-tool-bar {
  position: fixed;
  width: 100%;
  z-index: 50;      
  top: 24px;
  &--scrolled {
    left: 0px;top: 0px;
    right:0px;
    width: 100%;
    background-color: var(--color-base-01);
    transition: 0.1s ease;
   .gnb-group .gnb #gnbContainer .subsection .subsection-wrap .section-body{background-color: var(--color-base-01);
    transition: 0.1s ease;}
   }
  .inner{
    margin: 0 auto;
    top: 32px;
    max-width: 1440px;
    min-width: 720px;
    height: 70px;
  }
}

.totalSearchWrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 51;
  background-color: var(--color-base-01);
  transition:  .3s;
  display: none;
  .inner{
    padding: 75px 140px;
    position: relative;
    width: 80%;
    margin: 0 auto;
    .searchLayer-select{
      width: 29%;
      float: left;
      margin-right: 1%;
    }
    .searchLayer-textfield{
      width: 70%;
      float: left;
      .textfield{
        .form-util{
          background-color: var(--color-base-13);
          width: 52px;
          .form-btn-search::before {
              background-color: var(--color-base-01);
          }
        }
      }
    }
    .keyword{
      width: 50%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      dl{
        dt{text-align: center;margin: 72px 0 20px 0;}
        dd{
          ul{
            display: flex;
            column-gap: 15px;
            justify-content: center;
          }
        }
      }
    }
    .btnsearchclose{
      position: absolute;
      right: 0;
      top: 40px;
    }
  }
  &.totalSearcopen{
    transition: transform .3s;
    display: block;
  }
}

.gnb-group{
  .gnb {
    background-color: var(--color-base-01);
    display: flex; height: auto;
    justify-content: space-between; column-gap: 0vw;
  > div{display: flex; align-items: center; height: 70px;}
  .logoWrap{position: relative;
    display: flex;
    margin: 0 0 0 20px;align-items: center;
    h1.logo{
      @include set-vw(width,139px );
      height: 70px;
    line-height: 78px;
      img{
        width:100%;
      }
    }
    .logotoogle{
      line-height: 52px;
      .posts-list{
        .posts-item{
          border-bottom:0;
          .posts-wrap{
            .posts-inform{
              .posts-func{    display: block;
                .btn.expand {
                  display: inline-block;
                  margin-right: 0;
                  &::before{
                    background: url("../../img/common/btn_logotoogle.png") no-repeat center / cover;
                    mask: none;
                  }
                }
              }
            }
          }
          .posts-side{
            position: absolute;
            left: 0;
            top:70px;
            width: 100%;
            box-shadow:none;
          }
        }
      }
    }
  }


  #gnbContainer{
    width: 100%;
    display: flex;
    flex-direction: row;    
    line-height: 26px;
    .subsection{
      display: inline-block;
      padding-right: 10px;
      padding-left: 10px;
      .subsection-wrap{
        &:has(.section-body.active) {
          .subsection-head .subsection-subject > a {
            font-weight: 700;border-bottom: 2px solid var(--color-base-13);
          }
        }
        .subsection-head{
          .subsection-subject{
            a{height: 70px;
              display: block;
              line-height: 70px;
              font-size: 14px;}
          }
        }
        .section-body{
          width: 100%;
          position: absolute;
          left: 0;
          top: 70px;
          margin: 0 auto;
          display: none;
          &.active{
            display: block;
            transition: 0.3s ease;
          }
          .lnb-navi{
            margin: 0 auto;
            max-width: 1440px;
            min-width: 720px;
            background-color: var(--color-base-01);
            display: flex;
            padding: 60px 50px;
            gap: 40px;
            align-items: flex-start;
            position: relative;
            p{
              font-size: 35px;
              font-weight: 700;
              line-height: 35px;
            }
            .lnb-list{
              display: flex;
              gap: 35px;
              flex-direction: row;
              .lnb-item{
                a{
                  font-weight: 800;
                  font-size: 14px;
                }
                .snb-navi{
                  .snb-list{
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    margin-top: 10px;
                    .snb-item{
                      a{
                        font-weight: 400;
                      }
                    }
                  }
                }
              }
            }
            >a{
              width: 20%;
              display: block;
              position: absolute;
              right: 50px;
              top: 50px;
              img{
               width: 100%;
              }
            }
          }
        }

      }
    }
  }

  }
}

.utilWrap {
  position: relative;
  ul{
    display: flex;
    li{
      display: inline-block;
      padding-right: 4px;
      padding-left: 4px;
      font-size: 12px;
      font-weight: 400;
      color: #727573;
    }
  }
    .lantoogle{
      padding-right: 13px;
      .posts-list{
        .posts-item:last-child{
          border-bottom:0;
          .posts-wrap{
            .posts-inform{
              .posts-func{
                .btn.expand {
                  display: inline-block;
                  margin-right: 0;
                  &::before{
                    width: 100%;
                    height: 24px;
                    background: url("../../img/common/btn_lantoggle.png") ;
                    mask: none;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    transition:none;
                  }
                }
              }
            }
          }
          .posts-side{
            position: absolute;
            left: 0;
            top:35px;
            width: 100%;
            box-shadow:none;
            padding: 6px;
            ul{
              display: flex;
              flex-direction: column;
              li{
                font-size: 12px;
                line-height: 16px;
              }
            }
          }
          &.active{
            .posts-wrap{
              .posts-inform{
                .posts-func{  
                  .btn.expand{
                    &::before{
                      transform: rotateX(180deg);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
}

.btn.ico_searchopen_w{
  height: 70px;
  line-height: 70px;
  &:hover{
    background-color: var(--color-secondary-09);
    border-color: var(--color-secondary-09);
  }
}
.btn.ico_searchopen_b::after{width: 25px; height: 25px;}
.btn.ico_btnMobOpen_w::after{width: 25px; height: 25px;}

@include desktop{

  header.main-tool-bar {
    position: fixed;
    width: 90%;
    z-index: 50;
    left: 5%;
    right: 5%;       
    top: 24px;
    &--scrolled {
      left: 0px;top: 0px;right:0px;
      width: 100%;
     }
    .inner{
      top: 32px;
      max-width: auto;
      min-width: auto;
      height: 48px;
    }
  }
  
  .totalSearchWrap {
    height: 100vh;
    padding-top: 58px;
    .inner{
      padding: 24px 20px 40px;width: 100%;
      .searchLayer-select{
        width: 100%;
        margin-bottom: 12px;
        margin-right: 0;
      }
      .searchLayer-textfield{
        width: 100%;
      }
      .btnsearchclose{
        right: 20px;
        top: -20px;}
        .keyword{
          width: 100%;
          dl{
            dt{margin: 24px 0 20px 0;}
          }
        }
    }
  }
  
  .gnb-group{
    
    .gnb {
      background-color: #fff0;
      flex-direction: column;
      &.active{
        display: block;
        background-color: var(--color-base-01);
        height: 100vh;
      }
    > div{flex-direction: column;}
    > div:nth-child(2){display: none;}
    .mologoWrap{
      display: flex;
      justify-content: space-between;
      width: 100%;
      background-color: var(--color-base-01);
      > div{   display: flex;        align-items: center;}
      .mologo{
        width: 139px;
        height: 50px;
        margin-left: 12px;
        line-height: 60px;
          img{
            width:100%;
          }
      }
      
      .logotoogle{
        line-height: 50px;
        .posts-list{
          .posts-item{
            border-bottom:0;
            .posts-wrap{
              .posts-inform{
                .posts-func{    display: block;
                  .btn.expand {
                    display: inline-block;
                    margin-right: 0;
                    &::before{
                      background: url("../../img/common/btn_logotoogle.png") no-repeat center / cover;
                      mask: none;
                    }
                  }
                }
              }
            }
            .posts-side{
              position: absolute;
              left: 0;
              top:48px;
              width: 100%;
              box-shadow:none;
            }
          }
        }
      }
      .ico_btnMobOpen_w{
        padding: 12px;
        margin-left: 10px;
      }
    }
  
    #gnbContainer{
      position: relative;
      flex-direction: row;
      flex-direction: column;padding: 32px 20px;        height: calc(100% - 160px);
      .subsection{
        padding-right: 0;
        padding-left: 0;
        .subsection-wrap{
          &:has(.section-body.active) {
            .subsection-head .subsection-subject > a {
              color: var(--color-secondary-09); border-bottom: 0px solid ;
            }
          }
          display: flex;
          .subsection-head{
            width: 40%;
            .subsection-subject{
              a{
                display: block;
                line-height: 0;
                font-size: 14px;
                font-weight: 700;
                margin-top: 20px;
                height: 14px;
                font-weight: 400;
              }
            }
          }
          .section-body{
            width: 55%;
            border: none;
            position: absolute;
            right: 0;
            top: 0;
            left: inherit;
            margin: 0 auto;
            display: none;overflow: auto;
            height: calc(100% - 0px);
            background-color: #F6FAF8;
            box-shadow: rgb(222, 230, 227) 3px 3px 6px 0px inset;
            &.active{
              display: block;
              transition: 0.3s ease;
            }
            .lnb-navi{
              background-color: #F6FAF8;
              box-shadow: rgb(222, 230, 227) 3px 3px 6px 0px inset;
              width: 100%;
              min-width: auto; align-items: flex-start;
              position: relative;
              flex-direction: column;
              padding: 20px 20px; margin: 0;        
              p{display: none;}
              >a{display: none;}
              .lnb-list {
                flex-direction: column;
            }
            }
          }
  
        }
      }
     
    }
  
    }
  }

  .momenu{
    background-color: var(--color-base-01);
    position:fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    .momenuheader{
      .top_menu{
        background-color:  var(--color-base-12);
        display: flex; align-items: center;justify-content: space-between;
        padding: 10px 20px;
        .btnMobClose {
          margin-left: 12px;
          margin-top: 3px;
        }
      }
      .login_status{
        display: flex;
        background-color:  var(--color-base-12);
        justify-content: space-between;
        align-items: flex-end;
        padding: 22px 20px 40px;
      }
    }
  }

  .btn.ico_searchopen_w{
    height: 35px;
    line-height: 35px;
    &:hover{
      background-color: none;
      border-color: none;
    }
  }
}


// @include tablet{
//   /*브라우저 사이즈1023px이하일때*/
//   header { 
//     // background-color: rebeccapurple;
//     padding: 40px 30px 0 30px;
//     position: absolute;
//     border-bottom: 0;
//     .inner{
//       width: 100%;
//       max-width: 1600px;
//       margin: 0 auto;
//       position: relative;
//     }
//     &.sticky{
//       position: fixed;
//       // border: 1px solid;
//       padding: 0px;
//       height: 50px;
//       padding: 0px 30px;
//       .logo img{
//         width: 90px;
//         margin-top: 15px;
//       }
//       .gnb{
//         top:-40px;
//         background-color: initial;
//       }
//       .gnb .gnbList{
//         margin: 0;
//         height: 0px;
//         width: 80%;
//         align-items: center;
//         justify-content: center;
//         height: 50px;
//         margin: 0 auto;
        
//       }
//       .sub{top: 43px;}  
//       // ~ .totalSearchWrap.totalSearcopen {
//       .totalSearchWrap.totalSearcopen {
//         transition: transform 0.3s;
//         transform: translateY(-110%);
//         // position: fixed;
//       }
//       .btnUtil{
//         top: 25%;
//       }


      
//     }
//   }

//   .btnUtil{
//     // position: absolute;
//     // right:16px;
//     top: 70%;
//     // transform: translate(0, -50%);
//     button:nth-child(2){
//       // padding-left: 0.5rem;
//       display: none;
//     }
//   }
//   .mobGnbHead{display:none;}

//   .gnb {
//     overflow-y: initial;
//     position: relative;
//     // top: 80px;
//     z-index: 0;
//     // width: 100%;
//     // left: 0;
//     // padding: 0 15px 15px 15px;
//     // background-color: #fff;
//     transform: translateX(0);
  
//     .gnbList{
//       height: 70px;
//       // margin-top: 10px;
//       padding: 0;
//       display: flex;
//       flex-direction: row;
//       align-items: center;
//       // align-items: center;
//       li {
//         // width: 100%;
//         // max-width: 100%;
//         // padding: 0;
//         line-height: 30px;
//         a {
//           // padding: 5px 2px 5px 0;
//           // color: #000;
//           // text-align: left;
//           // font-size:32px;
//           // font-weight: 700;
//           // display: block;
//           line-height: 60px;
//           &:hover{
//             color: #909090;
//           }
//         }
//       }
//       .togglePlus {
//         display: none;
//       }
//     }
//     .sub {
//       display: block;
//     position: absolute;
//     top: 65px;
//     left: 0;
//     width: 100%;
//     z-index: 10;
//       ul{display: flex;align-items: center;width: 75%;}
//       // li + li {margin-top: 7px;}
//       // ul > li >a{
//       //   padding: 0;
//       //   font-size: 24px;
//       //   font-weight: 600;
        
//       // }
//     }
    
//   }

//   .totalSearchWrap {
//     top: 146px;
//     border: 0;
//     form{
//       border-bottom: 1px solid #000;
//     }
//   }

//   .utilWrap{
//     &.mover{display:none;}
//     position:absolute;
//     top: -60px;
//     right: 0;
//     padding: inherit;
//     border: inherit;
//     margin: inherit;
//     ul{
//       display: flex;
//       align-items: baseline;
//       li{
//         margin: 0;
//         font-size:16px;
//       }
//     }
//   }

//     }
















.icon.btnSearchOpen{
  width: 26px;
  height: 26px;
  border: 0;
  display: block;
  background: url("../../img/common/icon-search.png") no-repeat 0 0;
}
.icon.btnMobClose{
  width: 23px;
  height: 23px;
  display: block;
  background: url("../../img/common/modal-close.png") no-repeat 0 0;
}
.icon.btnMobOpen{
  width: 23px;
  height: 23px;
  display: block;
  background: url("../../img/common/paging-next-hover.png") no-repeat 0 0;
}
.icon.btnsearchclose{
  width: 23px;
  height: 23px;
  display: block;
  background: url("../../img/common/modal-close.png") no-repeat 0 0;
}

.icon.btnmenu{
  width: 23px;
  height: 23px;  border: 0;
  display: block;
  mask-image: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20.0781 6H4.07812V8H18.0781L20.0781 6Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.0761 11H4.07812V13H14.5761L16.0761 11Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20.0781 16H4.07812V18H18.0781L20.0781 16Z' fill='white'/%3E%3C/svg%3E%0A");
  background-color:  var(--color-base-01);
}

// $header-background-color: #f2f2f2;
// $header-padding: 20px;

// $header-height: 60px;
// $navbar-padding: 0 20px;

// .navbar-container {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

// .logo {
//   font-size: 20px;
//   text-decoration: none;
//   color: #333;
// }



// .hamburger-menu {
//   display: none;
//   flex-direction: column;
//   cursor: pointer;

//   .line {
//     width: 25px;
//     height: 3px;
//     background-color: #333;
//     margin-bottom: 5px;
//   }
// }

//   .nav-menu {
//     display: none;
//     transform: translateX(100%);
//   }

//   .hamburger-menu {
//     display: flex;
//   }

//   .hamburger-menu.active {
//     .line:nth-child(1) {
//       transform: rotate(-45deg) translate(-5px, 6px);
//     }

//     .line:nth-child(2) {
//       opacity: 0;
//     }

//     .line:nth-child(3) {
//       transform: rotate(45deg) translate(-5px, -6px);
//     }
//   }

//   .nav-menu.active {
//     display:  block;
//     // flex-direction: column;
//     align-items: center;
//     background-color: $header-background-color;
//     padding: $header-padding;
//     position: fixed;
//     top: $header-height;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     z-index: 100000;
//     transition: transform .3s;
//     transform: translateX(0);

//     li {
//       margin-right: 0;
//       margin-bottom: 10px;
//     }
//   }


// .header {
//   background-color: $header-background-color;
//   padding: $header-padding;

//   .navbar {
//     height: $header-height;
//     padding: $navbar-padding;
//   }
// }

// @media all and (min-width:1024px) {
//   .nav-menu {
//   display: flex;
//   list-style: none;

//   li {
//     margin-right: 20px;

//     a {
//       text-decoration: none;
//       color: #333;
//     }
//   }
// }

// .hamburger-menu {
//   display: none;
// }
// } 

